Repository Nick2bad4u/PS-Color-Scripts-Enhanced: changes, and which Codecov flags are due for each by the changed paths.
All: module, tests, Core Module, Test Suite, Utility Scripts, Configuration & Build

🛠️ [fix] Preserve CP437 accented ANSI art cells
  ColorScripts-Enhanced/AnsiContentCurationCheckpoint.json
  ColorScripts-Enhanced/AnsiResidualMixedTextReviewLedger106.json
  ColorScripts-Enhanced/Scripts/16c-rare-003-nbm-bnlg.ps1
  Tests/AnsiContentAudit.Tests.js
  Tests/AnsiResidualCleanupReview.Tests.js
  scripts/Audit-ColorScriptContent.js
Due: module, tests, Core Module, Test Suite, Utility Scripts

🔧 [build] Refresh release and verification tooling
  .github/workflows/codeql.yml
  .github/workflows/greetings.yml
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/publish.yml
  .github/workflows/rebase.yml
  .github/workflows/repo-stats.yml
  .github/workflows/test.yml
  .github/workflows/updateChangeLogs.yml
  .node-version
  .nvmrc
  package-lock.json
  package.json
Due: Configuration & Build

🛠️ [fix] Exclude repository-only docs from module builds
  Tests/RepositoryScripts.Tests.ps1
  scripts/build.ps1
Due: tests, Test Suite, Utility Scripts

🛠️ [fix] Align release commits with changelog validation
  Tests/RepositoryScripts.Tests.ps1
  scripts/Validate-Changelog.ps1
Due: tests, Test Suite, Utility Scripts

🧹 [chore] Prepare release 2026.8.4.412
  CHANGELOG.md
  ColorScripts-Enhanced/ColorScripts-Enhanced.psd1
  ColorScripts-Enhanced/README.md
  ColorScripts-Enhanced/docs/ANSI-CONVERSION-GUIDE.md
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  ColorScripts-Enhanced/docs/DEVELOPMENT.md
  ColorScripts-Enhanced/docs/DOCUMENTATION_INDEX.md
  ColorScripts-Enhanced/docs/LOCALIZATION_GUIDE.md
  ColorScripts-Enhanced/docs/MEGALINTER-SETUP.md
  ColorScripts-Enhanced/docs/MODULE_SUMMARY.md
  ColorScripts-Enhanced/docs/NPM_SCRIPTS.md
  ColorScripts-Enhanced/docs/POWERSHELL-VERSIONS.md
  ColorScripts-Enhanced/docs/PUBLISHING.md
  ColorScripts-Enhanced/docs/QUICK_REFERENCE.md
  ColorScripts-Enhanced/docs/REORGANIZATION.md
  dist/LatestReleaseNotes.md
  dist/PowerShellGalleryReleaseNotes.md
  docs/DOCUMENTATION_INDEX.md
  docs/MODULE_SUMMARY.md
  docs/PUBLISHING.md
Due: module, Core Module

🛡️ [fix] Baseline provenance hash false positives
  .gitleaksignore
Due: none

🧹 [chore] Prepare release 2026.8.4.412
  CHANGELOG.md
  dist/PowerShellGalleryReleaseNotes.md
Due: none

🛠️ [fix] Preserve hash-locked artwork bytes
  .gitattributes
  Tests/ArtworkProvenanceReader.Tests.js
Due: tests, Test Suite

🛠️ [fix] Make release verification platform-stable
  Tests/ArtworkProvenance.Tests.ps1
  Tests/ArtworkProvenanceReader.Tests.js
  Tests/ColorScripts-Enhanced.RandomSelectionFastPath.Tests.ps1
  Tests/HelpArtifacts.Tests.ps1
  Tests/LocalizedHelp.Tests.ps1
  scripts/ArtworkProvenance.js
Due: tests, Test Suite, Utility Scripts

🛠️ [fix] Accept platform-native JSON integers
  Tests/ArtworkProvenance.Tests.ps1
Due: tests, Test Suite

🧹 [chore] Prepare release 2026.8.4.412
  CHANGELOG.md
Due: none

🛠️ [fix] Bound GitHub release notes
  .github/workflows/publish.yml
  Tests/GitHubReleaseNotes.Tests.mjs
  Tests/RepositoryScripts.Tests.ps1
  package.json
  scripts/Limit-GitHubReleaseNotes.mjs
Due: tests, Test Suite, Utility Scripts, Configuration & Build

📝 [docs] Update publishing and release checklist documentation
  .github/workflows/publish.yml
  ColorScripts-Enhanced/docs/PUBLISHING.md
  ColorScripts-Enhanced/docs/RELEASE_CHECKLIST.md
  docs/PUBLISHING.md
  docs/RELEASE_CHECKLIST.md
Due: module, Core Module

fix: resolve Sonar correctness and security findings
  .github/workflows/jekyll-gh-pages.yml
  ColorScripts-Enhanced/Private/Write-ColorScriptInformation.ps1
  ColorScripts-Enhanced/docs/help-redirect.html
  Tests/AnsiArchiveAudit.Tests.js
  Tests/AnsiConversion.Tests.js
  Tests/ArtworkProvenanceReader.Tests.js
  Tests/ColorScriptAnalysis.Tests.js
  Tests/PruneColorScripts.Tests.js
  docs/artwork.html
  docs/help-redirect.html
  scripts/Analyze-ColorScripts.mjs
  scripts/Apply-ColorScriptContentReview.js
  scripts/ArtworkProvenance.js
  scripts/Audit-AnsiArchives.js
  scripts/Audit-ColorScriptContent.js
  scripts/Convert-AnsiToColorScript.js
  scripts/Create-ColorScriptContentReviewLedger.js
  scripts/Create-ColorScriptGeometryReviewManifest.js
  scripts/Create-ColorScriptPolicyRemovalManifest.js
  scripts/Invoke-MarkdownLinkCheck.ps1
  scripts/Prune-ColorScripts.js
  scripts/Rebalance-ColorScriptParts.js
  scripts/Split-AnsiFile.js
  scripts/Verify-AnsiConversion.mjs
Due: module, tests, Core Module, Test Suite, Utility Scripts

refactor: resolve Sonar maintainability findings
  Tests/AnsiArchiveAudit.Tests.js
  Tests/AnsiPolicyRetentionReviewLedger.Tests.js
  scripts/Analyze-ColorScripts.mjs
  scripts/ArtworkProvenance.js
  scripts/Audit-AnsiArchives.js
  scripts/Audit-ColorScriptContent.js
  scripts/Build-AnsiArchiveCurationCheckpoint.js
  scripts/Convert-AnsiToColorScript.js
  scripts/Create-ColorScriptContentReviewLedger.js
  scripts/GeneratedArtworkProvenance.js
  scripts/Rebalance-ColorScriptParts.js
  scripts/Split-AnsiFile.js
Due: tests, Test Suite, Utility Scripts

refactor: reduce ANSI tooling complexity
  scripts/Analyze-ColorScripts.mjs
  scripts/Apply-ColorScriptContentReview.js
  scripts/ArtworkProvenance.js
  scripts/Audit-AnsiArchives.js
  scripts/Audit-ColorScriptContent.js
  scripts/Convert-AnsiToColorScript.js
  scripts/GeneratedArtworkProvenance.js
  scripts/Rebalance-ColorScriptParts.js
  scripts/sync-node-version-files.mjs
Due: Utility Scripts

refactor: simplify PowerShell support paths
  ColorScripts-Enhanced/Private/Build-ScriptCache.ps1
  ColorScripts-Enhanced/Private/CacheEntryMetadata.ps1
  ColorScripts-Enhanced/Private/Get-ColorScriptDynamicPolicy.ps1
  ColorScripts-Enhanced/Private/Get-PowerShellExecutable.ps1
  ColorScripts-Enhanced/Private/Test-ColorScriptNameValue.ps1
  ColorScripts-Enhanced/Private/Test-ColorScriptRequiresCache.ps1
  ColorScripts-Enhanced/Public/Get-ColorScriptConfiguration.ps1
  Tests/AnsiArchiveAudit.Tests.js
  Tests/LocalizedHelp.Tests.ps1
  scripts/Analyze-ColorScripts.mjs
  scripts/Audit-ColorScriptContent.js
  scripts/Build-Help.ps1
  scripts/Convert-AnsiToColorScript-Advanced.ps1
  scripts/Convert-AnsiToColorScript.ps1
Due: module, tests, Core Module, Test Suite, Utility Scripts

refactor: simplify ANSI CLI argument parsing
  scripts/Analyze-ColorScripts.mjs
  scripts/Audit-AnsiArchives.js
  scripts/Verify-AnsiConversion.mjs
Due: Utility Scripts

refactor: separate ANSI audit responsibilities
  scripts/Audit-AnsiArchives.js
  scripts/Split-AnsiFile.js
  scripts/Verify-AnsiConversion.mjs
Due: Utility Scripts

refactor: simplify artwork review validation
  scripts/Apply-ColorScriptGeometryReview.js
  scripts/GeneratedArtworkProvenance.js
  scripts/Test-ColorScriptContentReview.js
Due: Utility Scripts

refactor: separate content-review curation stages
  scripts/Apply-ColorScriptContentReview.js
Due: Utility Scripts

refactor: isolate reviewed content redaction
  scripts/Audit-ColorScriptContent.js
Due: Utility Scripts

fix: harden provenance assignment parsing
  scripts/ArtworkProvenance.js
Due: Utility Scripts

refactor: simplify review manifest generation
  scripts/Create-ColorScriptContentReviewLedger.js
  scripts/Create-ColorScriptGeometryReviewManifest.js
Due: Utility Scripts

refactor: separate ANSI splitter orchestration
  scripts/Split-AnsiFile.js
Due: Utility Scripts

refactor: simplify analysis exception matching
  scripts/Analyze-ColorScripts.mjs
Due: Utility Scripts

refactor: separate ANSI metric collection
  scripts/Analyze-ColorScripts.mjs
Due: Utility Scripts

refactor: simplify colorscript analysis loading
  scripts/Analyze-ColorScripts.mjs
Due: Utility Scripts

refactor: separate archive deduplication stages
  scripts/Audit-AnsiArchives.js
Due: Utility Scripts

refactor: separate 16colors archive caching
  scripts/Audit-AnsiArchives.js
Due: Utility Scripts

Path conditions:
  module: any of: ColorScripts-Enhanced/
  tests: any of: Tests/
  Core Module: any of: ColorScripts-Enhanced/**
  Test Suite: any of: Tests/**
  Utility Scripts: any of: scripts/**
  Configuration & Build: any of: package.json
