Repository Nick2bad4u/PS-Color-Scripts-Enhanced: changes, and which Codecov flags are due for each by the changed paths.
All: module, tests, Core Module, Test Suite, Utility Scripts, Configuration & Build

📝 [docs] Comprehensive documentation overhaul, regenerate help, bump module manifest & refresh build metadata
  CONTRIBUTING.md
  ColorScripts-Enhanced/ColorScripts-Enhanced.psd1
  ColorScripts-Enhanced/docs/Development.md
  ColorScripts-Enhanced/docs/MODULE_SUMMARY.md
  ColorScripts-Enhanced/docs/NPM_SCRIPTS.md
  ColorScripts-Enhanced/docs/Publishing.md
  ColorScripts-Enhanced/docs/QUICK_REFERENCE.md
  ColorScripts-Enhanced/docs/ROADMAP.md
  ColorScripts-Enhanced/docs/TESTING.md
  ColorScripts-Enhanced/en-US/Add-ColorScriptProfile.md
  ColorScripts-Enhanced/en-US/Clear-ColorScriptCache.md
  ColorScripts-Enhanced/en-US/ColorScripts-Enhanced-help.xml
  ColorScripts-Enhanced/en-US/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/en-US/Export-ColorScriptMetadata.md
  ColorScripts-Enhanced/en-US/Get-ColorScriptConfiguration.md
  ColorScripts-Enhanced/en-US/Get-ColorScriptList.md
  ColorScripts-Enhanced/en-US/New-ColorScript.md
  ColorScripts-Enhanced/en-US/New-ColorScriptCache.md
  ColorScripts-Enhanced/en-US/Reset-ColorScriptConfiguration.md
  ColorScripts-Enhanced/en-US/Show-ColorScript.md
  ColorScripts-Enhanced/en-US/about_ColorScripts-Enhanced.help.txt
  DOCUMENTATION_ENHANCEMENT_COMPLETE.md
  DOCUMENTATION_EXPANSION_SUMMARY.md
  DOCUMENTATION_INDEX.md
  DOCUMENTATION_STATUS_REPORT.md
  HELP_ENHANCEMENTS_SUMMARY.md
  dist/LatestReleaseNotes.md
  dist/PowerShellGalleryReleaseNotes.md
  docs/Development.md
  docs/MODULE_SUMMARY.md
  docs/NPM_SCRIPTS.md
  docs/Publishing.md
  docs/QUICK_REFERENCE.md
  docs/ROADMAP.md
  docs/TESTING.md
  scripts/build.ps1
Due: module, Core Module, Utility Scripts

✨ [feat] Add multilingual help redirect, HelpUri links, and localization improvements
  ColorScripts-Enhanced/ColorScripts-Enhanced.psd1
  ColorScripts-Enhanced/ColorScripts-Enhanced.psm1
  ColorScripts-Enhanced/README.md
  ColorScripts-Enhanced/de/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/de/Messages.psd1
  ColorScripts-Enhanced/docs/HELP-REDIRECT-SETUP.md
  ColorScripts-Enhanced/en-US/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/en-US/Messages.psd1
  ColorScripts-Enhanced/es/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/es/Messages.psd1
  ColorScripts-Enhanced/fr/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/fr/Messages.psd1
  ColorScripts-Enhanced/it/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/it/Messages.psd1
  ColorScripts-Enhanced/ja/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ja/Messages.psd1
  ColorScripts-Enhanced/nl/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/nl/Messages.psd1
  ColorScripts-Enhanced/pt/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/pt/Messages.psd1
  ColorScripts-Enhanced/ru/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ru/Messages.psd1
  ColorScripts-Enhanced/zh-CN/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/zh-CN/Messages.psd1
  README.md
  Tests/ColorScripts-Enhanced.AdditionalCoverage.Tests.ps1
  Tests/ColorScripts-Enhanced.CoverageCompletion.Tests.ps1
  dist/LatestReleaseNotes.md
  dist/PowerShellGalleryReleaseNotes.md
  docs/HELP-REDIRECT-SETUP.md
  docs/help-redirect.html
  scripts/Build-Help.ps1
  scripts/Test-Coverage.ps1
Due: module, tests, Core Module, Test Suite, Utility Scripts

🚜 [refactor] Stabilize module-root discovery and implement robust localization loader
  ColorScripts-Enhanced/ColorScripts-Enhanced.psd1
  ColorScripts-Enhanced/ColorScripts-Enhanced.psm1
  ColorScripts-Enhanced/de/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/en-US/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/es/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/fr/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/it/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ja/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/nl/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/pt/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ru/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/zh-CN/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  Tests/ColorScripts-Enhanced.InternalCoverage.Tests.ps1
  dist/LatestReleaseNotes.md
  dist/PowerShellGalleryReleaseNotes.md
Due: module, tests, Core Module, Test Suite

📝 [docs] Add BeastMode agent and a suite of automated prompts for repo maintenance
  .github/PROMPTS/Add-ToDo.prompt.md
  .github/PROMPTS/Consistency-Check.prompt.md
  .github/PROMPTS/Continue.prompt.md
  .github/PROMPTS/Generate-100%-Test-Coverage.prompt.md
  .github/PROMPTS/Review.prompt.md
  .github/agents/BeastMode.agent.md
  .github/copilot-commit-message-instructions.md
Due: none

Rollback-Refactor-1
  ColorScripts-Enhanced/ColorScripts-Enhanced.psm1
  ColorScripts-Enhanced/Private/PrivateFunctions.ps1
  ColorScripts-Enhanced/Public/Add-ColorScriptProfile.ps1
  ColorScripts-Enhanced/Public/Clear-ColorScriptCache.ps1
  ColorScripts-Enhanced/Public/Export-ColorScriptMetadata.ps1
  ColorScripts-Enhanced/Public/Get-ColorScriptConfiguration.ps1
  ColorScripts-Enhanced/Public/Get-ColorScriptList.ps1
  ColorScripts-Enhanced/Public/New-ColorScript.ps1
  ColorScripts-Enhanced/Public/New-ColorScriptCache.ps1
  ColorScripts-Enhanced/Public/Reset-ColorScriptConfiguration.ps1
  ColorScripts-Enhanced/Public/Set-ColorScriptConfiguration.ps1
  ColorScripts-Enhanced/Public/Show-ColorScript.ps1
  ColorScripts-Enhanced/en-US/Messages.psd1
  ColorScripts-Enhanced/en-US/Show-ColorScript.md
  Tests/ColorScripts-Enhanced.CoverageExpansion.Tests.ps1
  Tests/ColorScripts-Enhanced.TargetedCoverage.Tests.ps1
  test-output.txt
Due: module, tests, Core Module, Test Suite

🛠️ [fix] Harden localized message import and enforce dictionary results
  ColorScripts-Enhanced/ColorScripts-Enhanced.psd1
  ColorScripts-Enhanced/Private/Import-LocalizedMessagesFromFile.ps1
  ColorScripts-Enhanced/Public/Add-ColorScriptProfile.ps1
  ColorScripts-Enhanced/de/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/docs/DOCUMENTATION_INDEX.md
  ColorScripts-Enhanced/docs/MODULE_SUMMARY.md
  ColorScripts-Enhanced/docs/QUICK_REFERENCE.md
  ColorScripts-Enhanced/en-US/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/es/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/fr/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/it/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ja/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/nl/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/pt/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ru/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/zh-CN/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  DOCUMENTATION_ENHANCEMENT_COMPLETE.md
  dist/LatestReleaseNotes.md
  dist/PowerShellGalleryReleaseNotes.md
  docs/DOCUMENTATION_INDEX.md
  docs/MODULE_SUMMARY.md
  docs/QUICK_REFERENCE.md
  package.json
Due: module, Core Module, Configuration & Build

🔧 [build] Bump ModuleVersion to 2025.11.05.1155 and sync localized Help UICultureVersion stamps
  ColorScripts-Enhanced/ColorScripts-Enhanced.psd1
  ColorScripts-Enhanced/de/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/en-US/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/es/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/fr/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/it/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ja/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/nl/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/pt/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ru/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/zh-CN/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
Due: module, Core Module

🛠️ [fix] Preserve IDictionary semantics in ConvertTo-HashtableInternal
  ColorScripts-Enhanced/ColorScripts-Enhanced.psd1
  ColorScripts-Enhanced/Private/ConvertTo-HashtableInternal.ps1
  ColorScripts-Enhanced/de/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/en-US/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/es/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/fr/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/it/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ja/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/nl/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/pt/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ru/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/zh-CN/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  dist/LatestReleaseNotes.md
  dist/PowerShellGalleryReleaseNotes.md
Due: module, Core Module

🛠️ [fix] Add cache-format upgrade workflow, unify colorscript execution, and bump module/help versions
  ColorScripts-Enhanced/ColorScripts-Enhanced.psd1
  ColorScripts-Enhanced/Private/Ensure-CacheFormatVersion.ps1
  ColorScripts-Enhanced/Private/Initialize-CacheDirectory.ps1
  ColorScripts-Enhanced/Private/Invoke-ColorScriptProcess.ps1
  ColorScripts-Enhanced/de/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/en-US/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/es/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/fr/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/it/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ja/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/nl/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/pt/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ru/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/zh-CN/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  Tests/ColorScripts-Enhanced.CoverageExpansion.Tests.ps1
Due: module, tests, Core Module, Test Suite

✨ [feat] Add localization-mode selection, on-demand cache validation docs, localized cache-summary rendering, module/help bumps, and tooling updates
  .prettierrc
  ColorScripts-Enhanced/ColorScripts-Enhanced.psd1
  ColorScripts-Enhanced/ColorScripts-Enhanced.psm1
  ColorScripts-Enhanced/Private/Initialize-ColorScriptsLocalization.ps1
  ColorScripts-Enhanced/Public/Clear-ColorScriptCache.ps1
  ColorScripts-Enhanced/Public/New-ColorScriptCache.ps1
  ColorScripts-Enhanced/README.md
  ColorScripts-Enhanced/de/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/de/Messages.psd1
  ColorScripts-Enhanced/docs/Development.md
  ColorScripts-Enhanced/docs/MODULE_SUMMARY.md
  ColorScripts-Enhanced/en-US/ColorScripts-Enhanced-help.xml
  ColorScripts-Enhanced/en-US/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/en-US/Messages.psd1
  ColorScripts-Enhanced/en-US/Show-ColorScript.md
  ColorScripts-Enhanced/es/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/es/Messages.psd1
  ColorScripts-Enhanced/fr/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/fr/Messages.psd1
  ColorScripts-Enhanced/it/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/it/Messages.psd1
  ColorScripts-Enhanced/ja/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ja/Messages.psd1
  ColorScripts-Enhanced/nl/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/nl/Messages.psd1
  ColorScripts-Enhanced/pt/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/pt/Messages.psd1
  ColorScripts-Enhanced/ru/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ru/Messages.psd1
  ColorScripts-Enhanced/zh-CN/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/zh-CN/Messages.psd1
  README.md
  Tests/ColorScripts-Enhanced.ModuleImportCoverage.Tests.ps1
  dist/LatestReleaseNotes.md
  dist/PowerShellGalleryReleaseNotes.md
  docs/Development.md
  docs/MODULE_SUMMARY.md
  package-lock.json
  package.json
Due: module, tests, Core Module, Test Suite, Configuration & Build

🎨 [style] Update syl-nyan.ps1 for improved visual output - Adjusted character representation for better clarity in output - Enhanced visual consistency by modifying repeated character patterns
  ColorScripts-Enhanced/Scripts/syl-nyan.ps1
Due: module, Core Module

✨ [feat] Add new ANSI art files and enhance filename normalization
  assets/ansi-files/1998 - 01 - FEV-ICE.ans
  assets/ansi-files/1998 - 04 - FEV-AH.ANS
  assets/ansi-files/1998 - 08 - FEV-GUTT.ans
  assets/ansi-files/1998 - 16 - Joint - US-LZ.ans
  assets/ansi-files/2001 - 04 - TCF-S7.ANS
  assets/ansi-files/2001 - 08 - Joint - us-nvr1.ans
  assets/ansi-files/2002 - 03 - FV-25LN2.ANS
  assets/ansi-files/2002 - 05 - FV-ANHA.ANS
  assets/ansi-files/2002 - 11 - FV-FUBAR.ANS
  assets/ansi-files/2002 - 13 - FV-TOX.ANS
  assets/ansi-files/2002 - 15 - FV-LOGZ.ANS
  assets/ansi-files/2002 - 18 - FV-VIEW.ANS
  assets/ansi-files/2003 - 03 - TCF-0314.ANS
  assets/ansi-files/2005 - 12 - tcf-logo.ans
  assets/ansi-files/2005 - 18 - TCF - ArtJerkz.ans
  assets/ansi-files/2013 - 08 - TCF - Pharcyde.ans
  assets/ansi-files/2013 - 26 - TCF - acidtrip.ans
  assets/ansi-files/ANSI_Star_Wars_WZ - Helmets.ans
  assets/ansi-files/ANSI_Star_Wars_WZ - Wookie.ans
  assets/ansi-files/ANSI_Star_Wars_ndh - darth.ans
  assets/ansi-files/ANSI_Star_Wars_ndh - r2d2.ans
  assets/ansi-files/nu - orbital - orbital.ans
  scripts/Restore-UnusedAnsiFiles.ps1
Due: Utility Scripts

🔧 [build] Update prettier-plugin-powershell to version 2.0.6
  .github/agents/BeastMode.agent.md
  .prettierrc
  package-lock.json
  package.json
Due: Configuration & Build

⭐[feat] add 2500 pokemon colorscripts
  docs/DEVELOPMENT.md
  docs/PUBLISHING.md
  docs/RELEASE_CHECKLIST.md
Due: none

🔧 [build] Update module version and help info
  ColorScripts-Enhanced/ColorScripts-Enhanced.psd1
  ColorScripts-Enhanced/Public/Show-ColorScript.ps1
  ColorScripts-Enhanced/de/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/en-US/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/es/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/fr/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/it/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ja/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/nl/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/pt/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ru/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/zh-CN/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
Due: module, Core Module

Rename ColorScripts-Mascot-Dark.jpeg to ColorScripts-Mascot-Dark.old.jpeg
  assets/ColorScripts-Mascot-Dark.old.jpeg
Due: none

🔧 [build] Update module version and localization info
  ColorScripts-Enhanced/ColorScripts-Enhanced.psd1
  ColorScripts-Enhanced/de/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/en-US/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/es/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/fr/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/it/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ja/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/nl/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/pt/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ru/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/zh-CN/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  assets/ColorScripts-Mascot-Dark.jpeg
Due: module, Core Module

✨ [feat] Enhance cache metadata management and script inventory retrieval
  ColorScripts-Enhanced/ColorScripts-Enhanced.psd1
  ColorScripts-Enhanced/ColorScripts-Enhanced.psm1
  ColorScripts-Enhanced/Install.ps1
  ColorScripts-Enhanced/Private/Ensure-CacheFormatVersion.ps1
  ColorScripts-Enhanced/Private/Get-ColorScriptInventory.ps1
  ColorScripts-Enhanced/Private/Get-ColorScriptsConfigurationRoot.ps1
  ColorScripts-Enhanced/Private/Initialize-CacheDirectory.ps1
  ColorScripts-Enhanced/Private/Initialize-ColorScriptsLocalization.ps1
  ColorScripts-Enhanced/Private/Invoke-ColorScriptsStartup.ps1
  ColorScripts-Enhanced/Public/New-ColorScriptCache.ps1
  ColorScripts-Enhanced/Public/Show-ColorScript.ps1
  ColorScripts-Enhanced/de/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/en-US/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/es/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/fr/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/it/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ja/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/nl/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/pt/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ru/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/zh-CN/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  Tests/ColorScripts-Enhanced.CacheMetadata.Tests.ps1
  scripts/build.ps1
Due: module, tests, Core Module, Test Suite, Utility Scripts

🔧 [build] Update module version and localization info
  ColorScripts-Enhanced/ColorScripts-Enhanced.psd1
  ColorScripts-Enhanced/Private/Get-ColorScriptsConfigurationRoot.ps1
  ColorScripts-Enhanced/Private/Initialize-CacheDirectory.ps1
  ColorScripts-Enhanced/Private/Initialize-ColorScriptsLocalization.ps1
  ColorScripts-Enhanced/de/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/en-US/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/es/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/fr/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/it/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ja/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/nl/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/pt/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ru/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/zh-CN/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  dist/LatestReleaseNotes.md
  dist/PowerShellGalleryReleaseNotes.md
Due: module, Core Module

[skip-ci] Update Dependabot configuration for multi-ecosystem
  .github/dependabot.yml
Due: none

fix: correct git-cliff release notes target
  cliff.toml
  docs/PUBLISHING.md
Due: none

chore: sync AGENTS and tooling updates
  .github/workflows/AGENTS.md
  .github/workflows/summary.yml
  .remarkignore
  AGENTS.md
  ColorScripts-Enhanced/Scripts/0
  Tests/AGENTS.md
  docs/AGENTS.md
  scripts/AGENTS.md
Due: module, tests, Core Module, Test Suite, Utility Scripts

chore: stop ignoring markdown files in prettierignore
  .prettierignore
Due: none

chore: update github agent instruction paths
  .github/agent-commit-message-instructions.md
  .github/agents/BeastMode.agent.md
Due: none

Update Codecov action to v7.0.0
  .github/workflows/test.yml
Due: none

🔧 [build] Update PACKAGES_TOKEN handling in publish workflow
  .github/workflows/publish.yml
  docs/PUBLISHING.md
Due: none

🔧 [build] Lower coverage targets for ColorScripts-Enhanced module
  codecov.yml
Due: none

Add Dependabot auto-merge workflow
  .github/workflows/auto-merge-dependabot-caller.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/gitleaks.yml
  .github/workflows/greetings.yml
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/label.yml
  .github/workflows/pssecret-scanner.yml
  .github/workflows/publish.yml
  .github/workflows/rebase.yml
  .github/workflows/repo-stats.yml
  .github/workflows/scorecards.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/trufflehog.yml
  .github/workflows/updateChangeLogs.yml
  package.json
Due: Configuration & Build

Update Dependabot auto-merge workflow pin
  .github/workflows/auto-merge-dependabot-caller.yml
Due: none

👷 [ci] Use shared workflow callers
  .github/labeler.yml
  .github/workflows/auto-merge-dependabot-caller.yml
  .github/workflows/dependency-review-enhanced-caller.yml
  .github/workflows/dependency-review.yml
  .github/workflows/gitleaks-scan-enhanced-caller.yml
  .github/workflows/gitleaks.yml
  .github/workflows/label.yml
  .github/workflows/labeler-caller.yml
  .github/workflows/ossf-scorecard-caller.yml
  .github/workflows/scorecards.yml
  .github/workflows/stale-management-caller.yml
  .github/workflows/stale.yml
  .github/workflows/trufflehog-scan-caller.yml
  .github/workflows/trufflehog.yml
Due: none

Path conditions:
  module: any of: ColorScripts-Enhanced/
  tests: any of: Tests/
  Core Module: any of: ColorScripts-Enhanced/**
  Test Suite: any of: Tests/**
  Utility Scripts: any of: scripts/**
  Configuration & Build: any of: package.json
