Repository Nick2bad4u/PS-Color-Scripts-Enhanced: changes, and which Codecov flags are due for each by the changed paths.
All: module, tests, Core Module, Test Suite, Utility Scripts, Configuration & Build

Path conditions:
  module: any of: ColorScripts-Enhanced/
  tests: any of: Tests/
  Core Module: any of: ColorScripts-Enhanced/**
  Test Suite: any of: Tests/**
  Utility Scripts: any of: scripts/**
  Configuration & Build: any of: package.json

📝 [docs] Complete the 2002 archive checkpoint
  ColorScripts-Enhanced/README-Gallery.md
  ColorScripts-Enhanced/README.md
  ColorScripts-Enhanced/docs/ANSI-CONVERSION-GUIDE.md
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  ColorScripts-Enhanced/docs/DOCUMENTATION_INDEX.md
  ColorScripts-Enhanced/docs/MEGALINTER-SETUP.md
  ColorScripts-Enhanced/docs/MODULE_SUMMARY.md
  ColorScripts-Enhanced/docs/ROADMAP.md
  README.md
  docs/ANSI-CONVERSION-GUIDE.md
  docs/ARTWORK_SOURCES.md
  docs/DOCUMENTATION_INDEX.md
  docs/MEGALINTER-SETUP.md
  docs/MODULE_SUMMARY.md
  docs/ROADMAP.md
Due: module, Core Module

🛡️ [fix] Detect generated ANSI duplicates
  Tests/AnsiArchiveAudit.Tests.js
  scripts/Audit-AnsiArchives.js
Due: tests, Test Suite, Utility Scripts

📝 [docs] Complete the 2001 archive checkpoint
  ColorScripts-Enhanced/AnsiArchiveCurationCheckpoint.json
  ColorScripts-Enhanced/README-Gallery.md
  ColorScripts-Enhanced/README.md
  ColorScripts-Enhanced/docs/ANSI-CONVERSION-GUIDE.md
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  ColorScripts-Enhanced/docs/DOCUMENTATION_INDEX.md
  ColorScripts-Enhanced/docs/MEGALINTER-SETUP.md
  ColorScripts-Enhanced/docs/MODULE_SUMMARY.md
  ColorScripts-Enhanced/docs/ROADMAP.md
  README.md
  Tests/ArtworkProvenance.Tests.ps1
  docs/ANSI-CONVERSION-GUIDE.md
  docs/ARTWORK_SOURCES.md
  docs/DOCUMENTATION_INDEX.md
  docs/MEGALINTER-SETUP.md
  docs/MODULE_SUMMARY.md
  docs/ROADMAP.md
Due: module, tests, Core Module, Test Suite

📝 [docs] Complete the 2000 archive checkpoint
  ColorScripts-Enhanced/AnsiArchiveCurationCheckpoint.json
  ColorScripts-Enhanced/README-Gallery.md
  ColorScripts-Enhanced/README.md
  ColorScripts-Enhanced/docs/ANSI-CONVERSION-GUIDE.md
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  ColorScripts-Enhanced/docs/DOCUMENTATION_INDEX.md
  ColorScripts-Enhanced/docs/MEGALINTER-SETUP.md
  ColorScripts-Enhanced/docs/MODULE_SUMMARY.md
  ColorScripts-Enhanced/docs/ROADMAP.md
  README.md
  Tests/ArtworkProvenance.Tests.ps1
  docs/ANSI-CONVERSION-GUIDE.md
  docs/ARTWORK_SOURCES.md
  docs/DOCUMENTATION_INDEX.md
  docs/MEGALINTER-SETUP.md
  docs/MODULE_SUMMARY.md
  docs/ROADMAP.md
Due: module, tests, Core Module, Test Suite

📝 [docs] Complete the 1998-1999 archive checkpoints
  ColorScripts-Enhanced/AnsiArchiveCurationCheckpoint.json
  ColorScripts-Enhanced/README-Gallery.md
  ColorScripts-Enhanced/README.md
  ColorScripts-Enhanced/docs/ANSI-CONVERSION-GUIDE.md
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  ColorScripts-Enhanced/docs/DOCUMENTATION_INDEX.md
  ColorScripts-Enhanced/docs/MEGALINTER-SETUP.md
  ColorScripts-Enhanced/docs/MODULE_SUMMARY.md
  ColorScripts-Enhanced/docs/ROADMAP.md
  README.md
  Tests/ArtworkProvenance.Tests.ps1
  docs/ANSI-CONVERSION-GUIDE.md
  docs/ARTWORK_SOURCES.md
  docs/DOCUMENTATION_INDEX.md
  docs/MEGALINTER-SETUP.md
  docs/MODULE_SUMMARY.md
  docs/ROADMAP.md
Due: module, tests, Core Module, Test Suite

🛠️ [fix] Make imported archive years reproducibly auditable
  Tests/AnsiArchiveAudit.Tests.js
  scripts/Audit-AnsiArchives.js
Due: tests, Test Suite, Utility Scripts

📝 [docs] Document reproducible archive re-audits
  docs/DEVELOPMENT.md
  docs/NPM_SCRIPTS.md
Due: none

🛠️ [fix] Match archival ANSI rendering semantics
  Tests/AnsiArchiveAudit.Tests.js
  Tests/AnsiConversion.Tests.js
  scripts/Audit-AnsiArchives.js
  scripts/Convert-AnsiToColorScript.js
  scripts/Split-AnsiFile.js
Due: tests, Test Suite, Utility Scripts

👷 [ci] Enforce ANSI and help verification gates
  .github/workflows/test.yml
  Tests/RepositoryScripts.Tests.ps1
  package.json
Due: tests, Test Suite, Configuration & Build

📝 [docs] Synchronize final archive and help documentation
  ColorScripts-Enhanced/README-Gallery.md
  ColorScripts-Enhanced/README.md
  ColorScripts-Enhanced/docs/ANSI-CONVERSION-GUIDE.md
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  ColorScripts-Enhanced/docs/DEVELOPMENT.md
  ColorScripts-Enhanced/docs/DOCUMENTATION_INDEX.md
  ColorScripts-Enhanced/docs/MEGALINTER-SETUP.md
  ColorScripts-Enhanced/docs/MODULE_SUMMARY.md
  ColorScripts-Enhanced/docs/NPM_SCRIPTS.md
  ColorScripts-Enhanced/docs/ROADMAP.md
  README.md
  docs/ANSI-CONVERSION-GUIDE.md
  docs/ARTWORK_SOURCES.md
  docs/DEVELOPMENT.md
  docs/DOCUMENTATION_INDEX.md
  docs/MEGALINTER-SETUP.md
  docs/MODULE_SUMMARY.md
  docs/NPM_SCRIPTS.md
  docs/ROADMAP.md
Due: module, Core Module

🎨 [style] Correct ANSI artwork text
  ColorScripts-Enhanced/Scripts/16c-bli-0994-ht-8-94-part01.ps1
Due: module, Core Module

✨ [feat] Add ANSI text review utilities
  Get-AnsiTextReport.ps1
  Remove-AnsiText.ps1
Due: none

🛠️ [fix] Restore exact passthrough ANSI payloads
  ColorScripts-Enhanced/Scripts/asciiville-wordmark.ps1
  ColorScripts-Enhanced/Scripts/botany-agave.ps1
  ColorScripts-Enhanced/Scripts/botany-baobab.ps1
  ColorScripts-Enhanced/Scripts/botany-brugmansia.ps1
  ColorScripts-Enhanced/Scripts/botany-cactus.ps1
  ColorScripts-Enhanced/Scripts/botany-columbine.ps1
  ColorScripts-Enhanced/Scripts/botany-daffodil.ps1
  ColorScripts-Enhanced/Scripts/botany-fern.ps1
  ColorScripts-Enhanced/Scripts/botany-ficus.ps1
  ColorScripts-Enhanced/Scripts/botany-flytrap.ps1
  ColorScripts-Enhanced/Scripts/botany-hemp.ps1
  ColorScripts-Enhanced/Scripts/botany-iris.ps1
  ColorScripts-Enhanced/Scripts/botany-jadeplant.ps1
  ColorScripts-Enhanced/Scripts/botany-lithops.ps1
  ColorScripts-Enhanced/Scripts/botany-moss.ps1
  ColorScripts-Enhanced/Scripts/botany-palm.ps1
  ColorScripts-Enhanced/Scripts/botany-snapdragon.ps1
  ColorScripts-Enhanced/Scripts/botany-sunflower.ps1
  ColorScripts-Enhanced/Scripts/durdraw-indyz-kali.ps1
  ColorScripts-Enhanced/Scripts/os-ansi-centos.ps1
  ColorScripts-Enhanced/Scripts/os-ansi-macos.ps1
  Tests/AnsiConversion.Tests.js
  scripts/Convert-AnsiToColorScript.js
Due: module, tests, Core Module, Test Suite, Utility Scripts

🧹 [chore] Checkpoint ANSI content review tooling
  Tests/AnsiContentAudit.Tests.js
  scripts/Apply-ColorScriptContentReview.js
  scripts/Audit-ColorScriptContent.js
Due: tests, Test Suite, Utility Scripts

🛠️ [fix] Harden ANSI content review tooling
  Tests/AnsiContentAudit.Tests.js
  Tests/ApplyColorScriptContentReview.Tests.js
  Tests/ColorScriptAnalysis.Tests.js
  Tests/CreateColorScriptContentReviewLedger.Tests.js
  Tests/CreateColorScriptPolicyRemovalManifest.Tests.js
  Tests/TestColorScriptContentReview.Tests.js
  scripts/Analyze-ColorScripts.mjs
  scripts/Apply-ColorScriptContentReview.js
  scripts/Audit-ColorScriptContent.js
  scripts/Create-ColorScriptContentReviewLedger.js
  scripts/Create-ColorScriptPolicyRemovalManifest.js
  scripts/Test-ColorScriptContentReview.js
Due: tests, Test Suite, Utility Scripts

🛠️ [fix] Harden ANSI contact content review
  Tests/AnsiContentAudit.Tests.js
  Tests/CreateColorScriptContentReviewLedger.Tests.js
  scripts/Audit-ColorScriptContent.js
  scripts/Create-ColorScriptContentReviewLedger.js
Due: tests, Test Suite, Utility Scripts

✨ [feat] Add hash-locked ANSI geometry review tools
  Tests/ApplyColorScriptGeometryReview.Tests.js
  Tests/CreateColorScriptGeometryReviewManifest.Tests.js
  scripts/Apply-ColorScriptGeometryReview.js
  scripts/Create-ColorScriptGeometryReviewManifest.js
Due: tests, Test Suite, Utility Scripts
