Repository Nick2bad4u/PS-Color-Scripts-Enhanced: changes, and which Codecov flags are due for each by the changed paths.
All: module, tests, Core Module, Test Suite, Utility Scripts, Configuration & Build

Path conditions:
  module: any of: ColorScripts-Enhanced/
  tests: any of: Tests/
  Core Module: any of: ColorScripts-Enhanced/**
  Test Suite: any of: Tests/**
  Utility Scripts: any of: scripts/**
  Configuration & Build: any of: package.json

🔒 [security] Remove vulnerable build dependencies
  .github/workflows/publish.yml
  .remarkrc.mjs
  Tests/AnsiConversion.Tests.js
  package-lock.json
  package.json
  scripts/Convert-AnsiToColorScript.js
Due: tests, Test Suite, Utility Scripts, Configuration & Build

chore(release): prepare for 2026.7.20.2250
  CHANGELOG.md
  dist/LatestReleaseNotes.md
  dist/PowerShellGalleryReleaseNotes.md
Due: none

👷 [ci] Install ANSI runtime dependencies for Pester
  .github/workflows/test.yml
Due: none

🛠️ [fix] Prefer pwsh for redirected color capture
  ColorScripts-Enhanced/Private/Get-PowerShellExecutable.ps1
Due: module, Core Module

🔒 [security] Remove SAUCE font regex backtracking
  Tests/AnsiConversion.Tests.js
  scripts/Convert-AnsiToColorScript.js
Due: tests, Test Suite, Utility Scripts

👷 [ci] Install pinned help tooling for releases
  .github/workflows/publish.yml
Due: none

🐛 [fix] Preserve ANSI artwork leading margins
  ColorScripts-Enhanced/Scripts/roy-sac-bj.ps1
  ColorScripts-Enhanced/Scripts/roy-sac-dgzn.ps1
  ColorScripts-Enhanced/Scripts/roy-sac-ds-part02.ps1
  ColorScripts-Enhanced/Scripts/roy-sac-faith.ps1
  ColorScripts-Enhanced/Scripts/roy-sac-hype.ps1
  ColorScripts-Enhanced/Scripts/roy-sac-lod.ps1
  ColorScripts-Enhanced/Scripts/roy-sac-os-amiga-new.ps1
  ColorScripts-Enhanced/Scripts/roy-sac-outb.ps1
  ColorScripts-Enhanced/Scripts/roy-sac-pc1-part02.ps1
  ColorScripts-Enhanced/Scripts/roy-sac-pc1-part03.ps1
  ColorScripts-Enhanced/Scripts/roy-sac-sky.ps1
  ColorScripts-Enhanced/Scripts/roy-sac-tdu-part02.ps1
  ColorScripts-Enhanced/Scripts/roy-sac-tdu-part03.ps1
  ColorScripts-Enhanced/Scripts/roy-sac-trsi.ps1
  ColorScripts-Enhanced/docs/ANSI-CONVERSION-GUIDE.md
  Tests/AnsiConversion.Tests.js
  Tests/ArtworkProvenance.Tests.ps1
  docs/ANSI-CONVERSION-GUIDE.md
  scripts/Convert-AnsiToColorScript.js
  scripts/Split-AnsiFile.js
Due: module, tests, Core Module, Test Suite, Utility Scripts

✨ [feat] Add resumable ANSI archive audit tooling
  .gitignore
  Tests/AnsiArchiveAudit.Tests.js
  Tests/ColorScriptAnalysis.Tests.js
  package.json
  scripts/Analyze-ColorScripts.mjs
  scripts/Audit-AnsiArchives.js
  scripts/ColorScriptAnalysisExceptions.json
Due: tests, Test Suite, Utility Scripts, Configuration & Build

🛠️ [fix] Preserve exact ANSI geometry across conversion and splits
  Tests/AnsiConversion.Tests.js
  scripts/Convert-AnsiToColorScript.js
  scripts/Split-AnsiFile.js
Due: tests, Test Suite, Utility Scripts

📝 [docs] Document ANSI curation and fidelity workflows
  ColorScripts-Enhanced/README-Gallery.md
  ColorScripts-Enhanced/README.md
  ColorScripts-Enhanced/docs/ANSI-CONVERSION-GUIDE.md
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  ColorScripts-Enhanced/docs/DEVELOPMENT.md
  ColorScripts-Enhanced/docs/DOCUMENTATION_INDEX.md
  ColorScripts-Enhanced/docs/MEGALINTER-SETUP.md
  ColorScripts-Enhanced/docs/MODULE_SUMMARY.md
  ColorScripts-Enhanced/docs/NPM_SCRIPTS.md
  ColorScripts-Enhanced/docs/ROADMAP.md
  README.md
  docs/ANSI-CONVERSION-GUIDE.md
  docs/ARTWORK_SOURCES.md
  docs/DEVELOPMENT.md
  docs/DOCUMENTATION_INDEX.md
  docs/MEGALINTER-SETUP.md
  docs/MODULE_SUMMARY.md
  docs/NPM_SCRIPTS.md
  docs/ROADMAP.md
Due: module, Core Module

📝 [docs] Document the 2008-2011 archive tranche
  ColorScripts-Enhanced/README-Gallery.md
  ColorScripts-Enhanced/README.md
  ColorScripts-Enhanced/docs/ANSI-CONVERSION-GUIDE.md
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  ColorScripts-Enhanced/docs/DOCUMENTATION_INDEX.md
  ColorScripts-Enhanced/docs/MEGALINTER-SETUP.md
  ColorScripts-Enhanced/docs/MODULE_SUMMARY.md
  ColorScripts-Enhanced/docs/ROADMAP.md
  README.md
  docs/ANSI-CONVERSION-GUIDE.md
  docs/ARTWORK_SOURCES.md
  docs/DOCUMENTATION_INDEX.md
  docs/MEGALINTER-SETUP.md
  docs/MODULE_SUMMARY.md
  docs/ROADMAP.md
Due: module, Core Module

🧹 [chore] Record the 16colors API inventory gap
  ColorScripts-Enhanced/AnsiArchiveCurationCheckpoint.json
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  Tests/ArtworkProvenance.Tests.ps1
  docs/ARTWORK_SOURCES.md
Due: module, tests, Core Module, Test Suite

✨ [feat] Add ANSI gallery quality review queues
  Tests/ColorScriptAnalysis.Tests.js
  docs/ANSI-CONVERSION-GUIDE.md
  docs/DEVELOPMENT.md
  docs/NPM_SCRIPTS.md
  scripts/Analyze-ColorScripts.mjs
  scripts/ColorScriptAnalysisExceptions.json
Due: tests, Test Suite, Utility Scripts

🛠️ [fix] Refine ANSI gallery quality diagnostics
  ColorScripts-Enhanced/docs/ANSI-CONVERSION-GUIDE.md
  ColorScripts-Enhanced/docs/DEVELOPMENT.md
  ColorScripts-Enhanced/docs/NPM_SCRIPTS.md
  Tests/ColorScriptAnalysis.Tests.js
  docs/ANSI-CONVERSION-GUIDE.md
  docs/DEVELOPMENT.md
  docs/NPM_SCRIPTS.md
  scripts/Analyze-ColorScripts.mjs
  scripts/ColorScriptAnalysisExceptions.json
Due: module, tests, Core Module, Test Suite, Utility Scripts

✨ [feat] Queue continuous ANSI split families for review
  ColorScripts-Enhanced/docs/ANSI-CONVERSION-GUIDE.md
  ColorScripts-Enhanced/docs/DEVELOPMENT.md
  ColorScripts-Enhanced/docs/NPM_SCRIPTS.md
  Tests/ColorScriptAnalysis.Tests.js
  docs/ANSI-CONVERSION-GUIDE.md
  docs/DEVELOPMENT.md
  docs/NPM_SCRIPTS.md
  scripts/Analyze-ColorScripts.mjs
Due: module, tests, Core Module, Test Suite, Utility Scripts

📝 [docs] Synchronize colorscript inventory counts
  ColorScripts-Enhanced/README-Gallery.md
  ColorScripts-Enhanced/README.md
  ColorScripts-Enhanced/docs/DOCUMENTATION_INDEX.md
  ColorScripts-Enhanced/docs/MEGALINTER-SETUP.md
  ColorScripts-Enhanced/docs/MODULE_SUMMARY.md
  ColorScripts-Enhanced/docs/ROADMAP.md
  README.md
  docs/DOCUMENTATION_INDEX.md
  docs/MEGALINTER-SETUP.md
  docs/MODULE_SUMMARY.md
  docs/ROADMAP.md
Due: module, Core Module

🛠️ [fix] Match DOS ANSI bare-LF rendering
  Tests/AnsiConversion.Tests.js
  scripts/Convert-AnsiToColorScript.js
Due: tests, Test Suite, Utility Scripts

🛠️ [fix] Ignore newline-terminated DOS EOF markers
  Tests/AnsiConversion.Tests.js
  scripts/Convert-AnsiToColorScript.js
Due: tests, Test Suite, Utility Scripts

📝 [docs] Complete 2004-2007 archive checkpoint
  ColorScripts-Enhanced/AnsiArchiveCurationCheckpoint.json
  ColorScripts-Enhanced/README-Gallery.md
  ColorScripts-Enhanced/README.md
  ColorScripts-Enhanced/docs/ANSI-CONVERSION-GUIDE.md
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  ColorScripts-Enhanced/docs/DOCUMENTATION_INDEX.md
  ColorScripts-Enhanced/docs/MEGALINTER-SETUP.md
  ColorScripts-Enhanced/docs/MODULE_SUMMARY.md
  ColorScripts-Enhanced/docs/ROADMAP.md
  README.md
  Tests/ArtworkProvenance.Tests.ps1
  docs/ANSI-CONVERSION-GUIDE.md
  docs/ARTWORK_SOURCES.md
  docs/DOCUMENTATION_INDEX.md
  docs/MEGALINTER-SETUP.md
  docs/MODULE_SUMMARY.md
  docs/ROADMAP.md
Due: module, tests, Core Module, Test Suite

🧪 [test] Synchronize static corpus size
  Tests/ColorScripts-Enhanced.StaticOutput.Tests.ps1
Due: tests, Test Suite

🛡️ [fix] Bind ANSI review decisions to render evidence
  Tests/AnsiArchiveAudit.Tests.js
  scripts/Audit-AnsiArchives.js
Due: tests, Test Suite, Utility Scripts

🛡️ [fix] Preserve automatic ANSI audit classifications
  Tests/AnsiArchiveAudit.Tests.js
  scripts/Audit-AnsiArchives.js
Due: tests, Test Suite, Utility Scripts

📝 [docs] Complete the 2003 archive checkpoint
  ColorScripts-Enhanced/AnsiArchiveCurationCheckpoint.json
  ColorScripts-Enhanced/README-Gallery.md
  ColorScripts-Enhanced/README.md
  ColorScripts-Enhanced/docs/ANSI-CONVERSION-GUIDE.md
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  ColorScripts-Enhanced/docs/DOCUMENTATION_INDEX.md
  ColorScripts-Enhanced/docs/MEGALINTER-SETUP.md
  ColorScripts-Enhanced/docs/MODULE_SUMMARY.md
  ColorScripts-Enhanced/docs/ROADMAP.md
  README.md
  Tests/ArtworkProvenance.Tests.ps1
  Tests/ColorScripts-Enhanced.StaticOutput.Tests.ps1
  docs/ANSI-CONVERSION-GUIDE.md
  docs/ARTWORK_SOURCES.md
  docs/DOCUMENTATION_INDEX.md
  docs/MEGALINTER-SETUP.md
  docs/MODULE_SUMMARY.md
  docs/ROADMAP.md
Due: module, tests, Core Module, Test Suite
