Repository Nick2bad4u/PS-Color-Scripts-Enhanced: changes, and which Codecov flags are due for each by the changed paths.
All: module, tests, Core Module, Test Suite, Utility Scripts, Configuration & Build

Path conditions:
  module: any of: ColorScripts-Enhanced/
  tests: any of: Tests/
  Core Module: any of: ColorScripts-Enhanced/**
  Test Suite: any of: Tests/**
  Utility Scripts: any of: scripts/**
  Configuration & Build: any of: package.json

refactor: separate content audit orchestration
  scripts/Audit-ColorScriptContent.js
Due: Utility Scripts

refactor: separate terminal CSI handling
  scripts/Convert-AnsiToColorScript.js
Due: Utility Scripts

refactor: separate terminal SGR handling
  scripts/Convert-AnsiToColorScript.js
Due: Utility Scripts

refactor: separate terminal row serialization
  scripts/Convert-AnsiToColorScript.js
Due: Utility Scripts

refactor: separate converter option parsing
  scripts/Convert-AnsiToColorScript.js
Due: Utility Scripts

refactor: separate converter output workflows
  scripts/Convert-AnsiToColorScript.js
Due: Utility Scripts

refactor: separate balanced split optimization
  scripts/Split-AnsiFile.js
Due: Utility Scripts

refactor: separate provenance migration stages
  scripts/Migrate-ColorScriptProvenanceHeaders.js
Due: Utility Scripts

refactor: separate existing render indexing
  scripts/Audit-AnsiArchives.js
Due: Utility Scripts

refactor: separate archive candidate analysis
  scripts/Audit-AnsiArchives.js
Due: Utility Scripts

refactor: separate terminal preview rendering
  scripts/Audit-AnsiArchives.js
Due: Utility Scripts

refactor: separate gallery review signals
  scripts/Analyze-ColorScripts.mjs
Due: Utility Scripts

refactor: separate split family diagnostics
  scripts/Analyze-ColorScripts.mjs
Due: Utility Scripts

refactor: separate fixed-part optimization
  scripts/Rebalance-ColorScriptParts.js
Due: Utility Scripts

refactor: separate rebalancer transactions
  scripts/Rebalance-ColorScriptParts.js
Due: Utility Scripts

refactor: separate rebalance manifest validation
  scripts/Rebalance-ColorScriptParts.js
Due: Utility Scripts

refactor: separate rebalance manifest construction
  scripts/Rebalance-ColorScriptParts.js
Due: Utility Scripts

refactor: separate rebalance plan verification
  scripts/Rebalance-ColorScriptParts.js
Due: Utility Scripts

fix: resolve Sonar JavaScript findings
  scripts/Audit-ColorScriptContent.js
  scripts/Migrate-ColorScriptProvenanceHeaders.js
  scripts/Rebalance-ColorScriptParts.js
Due: Utility Scripts

refactor: simplify PowerShell support functions
  ColorScripts-Enhanced/Private/Invoke-ColorScriptsStartup.ps1
  ColorScripts-Enhanced/Private/Resolve-CachePath.ps1
  ColorScripts-Enhanced/Private/Select-RecordsByName.ps1
  ColorScripts-Enhanced/Private/Test-ConsoleSupportsVirtualTerminal.ps1
  ColorScripts-Enhanced/Private/Write-ColorScriptInformation.ps1
  ColorScripts-Enhanced/Public/Set-ColorScriptConfiguration.ps1
Due: module, Core Module

refactor: simplify metadata and scaffold cmdlets
  ColorScripts-Enhanced/Public/Export-ColorScriptMetadata.ps1
  ColorScripts-Enhanced/Public/New-ColorScript.ps1
Due: module, Core Module

refactor: simplify PowerShell repository tooling
  ColorScripts-Enhanced/Install.ps1
  Remove-AnsiText.ps1
  scripts/Analyze-UnusedAnsiFiles.ps1
  scripts/Lint-Module.ps1
Due: module, Core Module, Utility Scripts

refactor: simplify configuration and localization
  ColorScripts-Enhanced/Private/Get-ColorScriptEntry.ps1
  ColorScripts-Enhanced/Private/Get-ColorScriptsConfigurationRoot.ps1
  ColorScripts-Enhanced/Private/Import-LocalizedMessagesFromFile.ps1
  ColorScripts-Enhanced/Private/Resolve-LocalizedMessagesFile.ps1
Due: module, Core Module

refactor: separate cache initialization stages
  ColorScripts-Enhanced/Private/Initialize-CacheDirectory.ps1
  ColorScripts-Enhanced/Private/Invoke-ColorScriptCacheOperation.ps1
Due: module, Core Module

refactor: separate static colorscript evaluation
  ColorScripts-Enhanced/Private/Get-StaticColorScriptOutput.ps1
Due: module, Core Module

refactor: separate cached output validation
  ColorScripts-Enhanced/Private/Get-CachedOutput.ps1
Due: module, Core Module

refactor: separate localization initialization
  ColorScripts-Enhanced/Private/Initialize-ColorScriptsLocalization.ps1
Due: module, Core Module

refactor: separate metadata table stages
  ColorScripts-Enhanced/Private/Get-ColorScriptMetadataTableInternal.ps1
Due: module, Core Module

refactor: reduce residual initialization complexity
  ColorScripts-Enhanced/Private/Initialize-CacheDirectory.ps1
  ColorScripts-Enhanced/Private/Initialize-ColorScriptsLocalization.ps1
Due: module, Core Module

refactor: separate colorscript list completion
  ColorScripts-Enhanced/Public/Get-ColorScriptList.ps1
Due: module, Core Module

refactor: separate profile configuration stages
  ColorScripts-Enhanced/Public/Add-ColorScriptProfile.ps1
Due: module, Core Module

refactor: separate cache clear stages
  ColorScripts-Enhanced/Public/Clear-ColorScriptCache.ps1
Due: module, Core Module

refactor: separate cache build orchestration
  ColorScripts-Enhanced/Public/New-ColorScriptCache.ps1
Due: module, Core Module

fix: keep installer compatible with Windows PowerShell
  ColorScripts-Enhanced/Install.ps1
Due: module, Core Module

refactor: reduce cache target selection complexity
  ColorScripts-Enhanced/Public/Clear-ColorScriptCache.ps1
Due: module, Core Module

fix: resolve residual Sonar JavaScript findings
  scripts/Audit-AnsiArchives.js
  scripts/Audit-ColorScriptContent.js
  scripts/Rebalance-ColorScriptParts.js
Due: Utility Scripts

refactor: separate completed cache worker handling
  ColorScripts-Enhanced/Public/New-ColorScriptCache.ps1
Due: module, Core Module

fix: satisfy strict PowerShell analysis
  ColorScripts-Enhanced/Private/Get-ColorScriptMetadataTableInternal.ps1
  ColorScripts-Enhanced/Private/Get-StaticColorScriptOutput.ps1
  ColorScripts-Enhanced/Private/Initialize-ColorScriptsLocalization.ps1
  ColorScripts-Enhanced/Public/Add-ColorScriptProfile.ps1
  ColorScripts-Enhanced/Public/Get-ColorScriptList.ps1
Due: module, Core Module

fix: simplify rebalance invariant validation
  Tests/RebalanceColorScriptParts.Tests.js
  scripts/Rebalance-ColorScriptParts.js
Due: tests, Test Suite, Utility Scripts

🔒 [fix] Harden release security checks
  .github/workflows/jekyll-gh-pages.yml
  Tests/AnsiConversion.Tests.js
  docs/artwork.html
  package-lock.json
Due: tests, Test Suite
