Repository Nick2bad4u/PS-Color-Scripts-Enhanced: changes, and which Codecov flags are due for each by the changed paths.
All: module, tests, Core Module, Test Suite, Utility Scripts, Configuration & Build

Path conditions:
  module: any of: ColorScripts-Enhanced/
  tests: any of: Tests/
  Core Module: any of: ColorScripts-Enhanced/**
  Test Suite: any of: Tests/**
  Utility Scripts: any of: scripts/**
  Configuration & Build: any of: package.json

🔗 [fix] Repair packaged documentation links
  ColorScripts-Enhanced/README.md
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  Tests/RepositoryScripts.Tests.ps1
  docs/ARTWORK_SOURCES.md
  scripts/build.ps1
Due: module, tests, Core Module, Test Suite, Utility Scripts

🧹 [chore] Prepare release 2026.8.17.1627
  CHANGELOG.md
  ColorScripts-Enhanced/ColorScripts-Enhanced.psd1
  ColorScripts-Enhanced/docs/DOCUMENTATION_INDEX.md
  ColorScripts-Enhanced/docs/MODULE_SUMMARY.md
  ColorScripts-Enhanced/docs/PUBLISHING.md
  dist/LatestReleaseNotes.md
  dist/PowerShellGalleryReleaseNotes.md
  docs/DOCUMENTATION_INDEX.md
  docs/MODULE_SUMMARY.md
  docs/PUBLISHING.md
Due: module, Core Module

🔒 [fix] Prevent insecure artwork links
  Tests/ArtworkProvenanceReader.Tests.js
  docs/artwork.html
Due: tests, Test Suite

📝 [fix] Exclude release prep from published notes
  .github/workflows/publish.yml
  Tests/RepositoryScripts.Tests.ps1
Due: tests, Test Suite

🧹 [chore] Prepare release 2026.8.17.1627
  CHANGELOG.md
  dist/PowerShellGalleryReleaseNotes.md
Due: none

🔒 [fix] Publish immutable releases atomically
  .github/workflows/publish.yml
  Tests/RepositoryScripts.Tests.ps1
  docs/PUBLISHING.md
Due: tests, Test Suite

🧹 [chore] Prepare release 2026.8.17.2152
  CHANGELOG.md
  ColorScripts-Enhanced/ColorScripts-Enhanced.psd1
  ColorScripts-Enhanced/docs/DOCUMENTATION_INDEX.md
  ColorScripts-Enhanced/docs/MODULE_SUMMARY.md
  ColorScripts-Enhanced/docs/PUBLISHING.md
  dist/LatestReleaseNotes.md
  dist/PowerShellGalleryReleaseNotes.md
  docs/DOCUMENTATION_INDEX.md
  docs/MODULE_SUMMARY.md
  docs/PUBLISHING.md
Due: module, Core Module
