Repository Nick2bad4u/PS-Color-Scripts-Enhanced: changes, and which Codecov flags are due for each by the changed paths.
All: module, tests, Core Module, Test Suite, Utility Scripts, Configuration & Build

Path conditions:
  module: any of: ColorScripts-Enhanced/
  tests: any of: Tests/
  Core Module: any of: ColorScripts-Enhanced/**
  Test Suite: any of: Tests/**
  Utility Scripts: any of: scripts/**
  Configuration & Build: any of: package.json

🔧 [chore] Adopt shared validation configs
  .github/workflows/updateChangeLogs.yml
  .gitignore
  cliff.toml
  package-lock.json
  package.json
  reports/jscpd/jscpd-badge.svg
  reports/jscpd/jscpd-lines-badge.svg
  reports/jscpd/jscpd-report.csv
  reports/jscpd/jscpd-report.html
  reports/jscpd/jscpd-report.json
  reports/jscpd/jscpd-report.md
  reports/jscpd/jscpd-report.xml
Due: Configuration & Build

🧹 [chore] Remove generated JSCPD reports
  reports/jscpd/jscpd-badge.svg
  reports/jscpd/jscpd-lines-badge.svg
  reports/jscpd/jscpd-report.csv
  reports/jscpd/jscpd-report.html
  reports/jscpd/jscpd-report.json
  reports/jscpd/jscpd-report.md
  reports/jscpd/jscpd-report.xml
Due: none

🔧 [chore] (tooling) Refresh shared validation tooling
  .gitleaks.toml
  .mega-linter.yml
  .ncurc.json
  .npmpackagejsonlintrc.json
  .prettierrc
  .remarkignore
  .remarkrc.mjs
  .secretlintrc.cjs
  .stylelintignore
  .yamllint
  ColorScripts-Enhanced/docs/DOCUMENTATION_INDEX.md
  docs/DOCUMENTATION_INDEX.md
  eslint.config.mjs
  package-lock.json
  package.json
  prettier.config.mjs
  scripts/Generate-ReleaseNotes.ps1
  scripts/Validate-Changelog.ps1
  stylelint.config.mjs
  tsdoc.json
Due: module, Core Module, Utility Scripts, Configuration & Build

🔒 [fix] (ci) Guard workflow-run publishing
  .github/workflows/publish.yml
Due: none

🔒 [fix] (ci) Require explicit publication
  .github/workflows/publish.yml
Due: none

🔧 [ci] Align Codecov module coverage target
  codecov.yml
Due: none

👷 [ci] (release) Guard git-cliff note generation
  .github/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/updateChangeLogs.yml
  ColorScripts-Enhanced/docs/ANSI-CONVERSION-GUIDE.md
  docs/ANSI-CONVERSION-GUIDE.md
  package.json
  scripts/Generate-ReleaseNotes.ps1
  scripts/Validate-Changelog.ps1
Due: module, Core Module, Utility Scripts, Configuration & Build

✨ [feat] Cache only computational color scripts
  ColorScripts-Enhanced/CachePolicy.psd1
  ColorScripts-Enhanced/ColorScripts-Enhanced.psd1
  ColorScripts-Enhanced/ColorScripts-Enhanced.psm1
  ColorScripts-Enhanced/Install.ps1
  ColorScripts-Enhanced/Private/Build-ScriptCache.ps1
  ColorScripts-Enhanced/Private/CacheEntryMetadata.ps1
  ColorScripts-Enhanced/Private/Invoke-ColorScriptCacheOperation.ps1
  ColorScripts-Enhanced/Private/Test-ColorScriptRequiresCache.ps1
  ColorScripts-Enhanced/Public/New-ColorScriptCache.ps1
  ColorScripts-Enhanced/Public/Show-ColorScript.ps1
  ColorScripts-Enhanced/README-Gallery.md
  ColorScripts-Enhanced/README.md
  ColorScripts-Enhanced/docs/MODULE_SUMMARY.md
  ColorScripts-Enhanced/docs/QUICK_REFERENCE.md
  ColorScripts-Enhanced/en-US/ColorScripts-Enhanced-help.xml
  ColorScripts-Enhanced/en-US/Messages.psd1
  ColorScripts-Enhanced/en-US/New-ColorScriptCache.md
  ColorScripts-Enhanced/en-US/Show-ColorScript.md
  ColorScripts-Enhanced/en-US/about_ColorScripts-Enhanced.help.txt
  README.md
  Tests/ColorScripts-Enhanced.AdditionalCoverage.Tests.ps1
  Tests/ColorScripts-Enhanced.CacheMetadata.Tests.ps1
  Tests/ColorScripts-Enhanced.CoverageCompletion.Tests.ps1
  Tests/ColorScripts-Enhanced.CoverageElevation.Tests.ps1
  Tests/ColorScripts-Enhanced.CoverageExpansion.Tests.ps1
  Tests/ColorScripts-Enhanced.CoverageFinalization.Tests.ps1
  Tests/ColorScripts-Enhanced.GapFill2.Tests.ps1
  Tests/ColorScripts-Enhanced.InternalCoverage.Tests.ps1
  Tests/ColorScripts-Enhanced.NewColorScriptCache.Tests.ps1
  Tests/ColorScripts-Enhanced.SelectiveCache.Tests.ps1
  Tests/ColorScripts-Enhanced.Tests.ps1
  docs/DEVELOPMENT.md
  docs/MODULE_SUMMARY.md
  docs/QUICK_REFERENCE.md
  scripts/Build-Help.ps1
  scripts/Test-Module.ps1
  scripts/build.ps1
Due: module, tests, Core Module, Test Suite, Utility Scripts

👷 [ci] Fail publication on Pester regressions
  .github/workflows/publish.yml
  .github/workflows/test.yml
  package.json
  scripts/Test-Coverage.ps1
Due: Utility Scripts, Configuration & Build

📝 [docs] Synchronize localized cache policy help
  ColorScripts-Enhanced/de/ColorScripts-Enhanced-help.xml
  ColorScripts-Enhanced/de/New-ColorScriptCache.md
  ColorScripts-Enhanced/de/Show-ColorScript.md
  ColorScripts-Enhanced/de/about_ColorScripts-Enhanced.help.txt
  ColorScripts-Enhanced/es/ColorScripts-Enhanced-help.xml
  ColorScripts-Enhanced/es/New-ColorScriptCache.md
  ColorScripts-Enhanced/es/Show-ColorScript.md
  ColorScripts-Enhanced/es/about_ColorScripts-Enhanced.help.txt
  ColorScripts-Enhanced/fr/ColorScripts-Enhanced-help.xml
  ColorScripts-Enhanced/fr/New-ColorScriptCache.md
  ColorScripts-Enhanced/fr/Show-ColorScript.md
  ColorScripts-Enhanced/fr/about_ColorScripts-Enhanced.help.txt
  ColorScripts-Enhanced/it/ColorScripts-Enhanced-help.xml
  ColorScripts-Enhanced/it/Get-ColorScriptList.md
  ColorScripts-Enhanced/it/New-ColorScriptCache.md
  ColorScripts-Enhanced/it/Show-ColorScript.md
  ColorScripts-Enhanced/it/about_ColorScripts-Enhanced.help.txt
  ColorScripts-Enhanced/ja/ColorScripts-Enhanced-help.xml
  ColorScripts-Enhanced/ja/New-ColorScriptCache.md
  ColorScripts-Enhanced/ja/Show-ColorScript.md
  ColorScripts-Enhanced/ja/about_ColorScripts-Enhanced.help.txt
  ColorScripts-Enhanced/nl/ColorScripts-Enhanced-help.xml
  ColorScripts-Enhanced/nl/New-ColorScriptCache.md
  ColorScripts-Enhanced/nl/Show-ColorScript.md
  ColorScripts-Enhanced/nl/about_ColorScripts-Enhanced.help.txt
  ColorScripts-Enhanced/pt/ColorScripts-Enhanced-help.xml
  ColorScripts-Enhanced/pt/New-ColorScriptCache.md
  ColorScripts-Enhanced/pt/Show-ColorScript.md
  ColorScripts-Enhanced/pt/about_ColorScripts-Enhanced.help.txt
  ColorScripts-Enhanced/ru/ColorScripts-Enhanced-help.xml
  ColorScripts-Enhanced/ru/New-ColorScriptCache.md
  ColorScripts-Enhanced/ru/Show-ColorScript.md
  ColorScripts-Enhanced/ru/about_ColorScripts-Enhanced.help.txt
  ColorScripts-Enhanced/zh-CN/ColorScripts-Enhanced-help.xml
  ColorScripts-Enhanced/zh-CN/New-ColorScriptCache.md
  ColorScripts-Enhanced/zh-CN/Show-ColorScript.md
  ColorScripts-Enhanced/zh-CN/about_ColorScripts-Enhanced.help.txt
  Tests/ColorScripts-Enhanced.SelectiveCache.Tests.ps1
Due: module, tests, Core Module, Test Suite

👷 [ci] Use the stable coverage entry point
  .github/workflows/test.yml
Due: none

🐛 [fix] Preserve the cache policy output type
  ColorScripts-Enhanced/Private/Test-ColorScriptRequiresCache.ps1
Due: module, Core Module

🛠️ [fix] Emit and strip real ANSI escape sequences
  ColorScripts-Enhanced/Private/Get-ColorScriptAnsiSequence.ps1
  ColorScripts-Enhanced/Private/New-ColorScriptAnsiText.ps1
  ColorScripts-Enhanced/Private/Remove-ColorScriptAnsiSequence.ps1
  Tests/ColorScripts-Enhanced.InternalCoverage.Tests.ps1
Due: module, tests, Core Module, Test Suite

⚡ [perf] Restore fast color script rendering
  ColorScripts-Enhanced/Private/Get-StaticColorScriptOutput.ps1
  ColorScripts-Enhanced/Private/Invoke-ColorScriptProcess.ps1
  ColorScripts-Enhanced/Public/Show-ColorScript.ps1
  Tests/ColorScripts-Enhanced.AdditionalCoverage.Tests.ps1
  Tests/ColorScripts-Enhanced.SelectiveCache.Tests.ps1
  Tests/ColorScripts-Enhanced.TargetedCoverage.Tests.ps1
Due: module, tests, Core Module, Test Suite

🎨 [style] Satisfy the release analyzer indentation rule
  ColorScripts-Enhanced/Private/Get-StaticColorScriptOutput.ps1
Due: module, Core Module

🛠️ [fix] Preserve colors through accelerated rendering
  ColorScripts-Enhanced/Private/Get-StaticColorScriptOutput.ps1
  ColorScripts-Enhanced/Private/Invoke-ColorScriptProcess.ps1
  Tests/ColorScripts-Enhanced.AdditionalCoverage.Tests.ps1
  Tests/ColorScripts-Enhanced.SelectiveCache.Tests.ps1
Due: module, tests, Core Module, Test Suite

🛠️ [fix] Make release version overrides authoritative
  .github/workflows/publish.yml
Due: none

⚡ [perf] Harden selective output caching
  ColorScripts-Enhanced/CachePolicy.psd1
  ColorScripts-Enhanced/ColorScripts-Enhanced.psm1
  ColorScripts-Enhanced/Private/Build-ScriptCache.ps1
  ColorScripts-Enhanced/Private/Get-CachedOutput.ps1
  ColorScripts-Enhanced/Private/Get-ColorScriptInventory.ps1
  ColorScripts-Enhanced/Private/Invoke-ColorScriptCacheOperation.ps1
  ColorScripts-Enhanced/Private/Invoke-WithColorScriptCacheEntryLock.ps1
  ColorScripts-Enhanced/Private/Select-RecordsByName.ps1
  ColorScripts-Enhanced/Private/Test-ColorScriptRequiresCache.ps1
  ColorScripts-Enhanced/Public/Get-ColorScriptConfiguration.ps1
  ColorScripts-Enhanced/Public/New-ColorScriptCache.ps1
  ColorScripts-Enhanced/Public/Show-ColorScript.ps1
  ColorScripts-Enhanced/docs/QUICK_REFERENCE.md
  ColorScripts-Enhanced/en-US/Get-ColorScriptConfiguration.md
  Tests/ColorScripts-Enhanced.CacheMetadata.Tests.ps1
  Tests/ColorScripts-Enhanced.NewColorScriptCache.Tests.ps1
  Tests/ColorScripts-Enhanced.SelectiveCache.Tests.ps1
  Tests/ColorScripts-Enhanced.Tests.ps1
  docs/QUICK_REFERENCE.md
Due: module, tests, Core Module, Test Suite

🧪 [test] Upgrade validation to Pester 6
  .github/workflows/publish.yml
  .github/workflows/test.yml
  ColorScripts-Enhanced/Install.ps1
  ColorScripts-Enhanced/Private/Get-ColorScriptMetadataTableInternal.ps1
  ColorScripts-Enhanced/Private/Write-ColorScriptInformation.ps1
  ColorScripts-Enhanced/docs/CODECOV_JUNIT_SETUP.md
  ColorScripts-Enhanced/docs/Development.md
  ColorScripts-Enhanced/docs/NPM_SCRIPTS.md
  ColorScripts-Enhanced/docs/TESTING.md
  Tests/ColorScripts-Enhanced.AdditionalCoverage.Tests.ps1
  Tests/ColorScripts-Enhanced.CoreBehaviors.Tests.ps1
  Tests/ColorScripts-Enhanced.CoverageCompletion.Tests.ps1
  Tests/ColorScripts-Enhanced.CoverageElevation.Tests.ps1
  Tests/ColorScripts-Enhanced.CoverageExpansion.Tests.ps1
  Tests/ColorScripts-Enhanced.CoverageFinalization.Tests.ps1
  Tests/ColorScripts-Enhanced.GapFill2.Tests.ps1
  Tests/ColorScripts-Enhanced.GetColorScriptList.Tests.ps1
  Tests/ColorScripts-Enhanced.Internal.Tests.ps1
  Tests/ColorScripts-Enhanced.InternalCoverage.Tests.ps1
  Tests/ColorScripts-Enhanced.Localization.Tests.ps1
  Tests/ColorScripts-Enhanced.TargetedCoverage.Tests.ps1
  Tests/ColorScripts-Enhanced.WriteInformation.Tests.ps1
  docs/CODECOV_JUNIT_SETUP.md
  docs/DEVELOPMENT.md
  docs/NPM_SCRIPTS.md
  docs/TESTING.md
  scripts/Lint-Module.ps1
  scripts/Test-Coverage.ps1
Due: module, tests, Core Module, Test Suite, Utility Scripts

🛠️ [fix] Preserve Windows PowerShell test encoding
  ColorScripts-Enhanced/Install.ps1
  Tests/ColorScripts-Enhanced.AdditionalCoverage.Tests.ps1
  Tests/ColorScripts-Enhanced.GapFill2.Tests.ps1
  scripts/Test-Coverage.ps1
Due: module, tests, Core Module, Test Suite, Utility Scripts

🧪 [test] Match committed cache skip behavior
  Tests/ColorScripts-Enhanced.GapFill2.Tests.ps1
Due: tests, Test Suite

🛠️ [fix] Authenticate release note generation
  .github/workflows/publish.yml
Due: none

⚡ [perf] Accelerate cache validation and lookup
  ColorScripts-Enhanced/ColorScripts-Enhanced.psm1
  ColorScripts-Enhanced/Private/CacheEntryMetadata.ps1
  ColorScripts-Enhanced/Private/CachedOutputMemory.ps1
  ColorScripts-Enhanced/Private/Ensure-CacheFormatVersion.ps1
  ColorScripts-Enhanced/Private/Get-CachedOutput.ps1
  ColorScripts-Enhanced/Private/Get-ColorScriptInventory.ps1
  ColorScripts-Enhanced/Public/Clear-ColorScriptCache.ps1
  ColorScripts-Enhanced/Public/New-ColorScriptCache.ps1
  ColorScripts-Enhanced/Public/Reset-ColorScriptConfiguration.ps1
  ColorScripts-Enhanced/Public/Set-ColorScriptConfiguration.ps1
  ColorScripts-Enhanced/Public/Show-ColorScript.ps1
  Tests/ColorScripts-Enhanced.AdditionalCoverage.Tests.ps1
  Tests/ColorScripts-Enhanced.CacheMetadata.Tests.ps1
  Tests/ColorScripts-Enhanced.GapFill2.Tests.ps1
  Tests/ColorScripts-Enhanced.NewColorScriptCache.Tests.ps1
  Tests/ColorScripts-Enhanced.SelectiveCache.Tests.ps1
Due: module, tests, Core Module, Test Suite

📝 [docs] Clarify policy-scoped cache behavior
  ColorScripts-Enhanced/de/Messages.psd1
  ColorScripts-Enhanced/docs/QUICK_REFERENCE.md
  ColorScripts-Enhanced/en-US/Clear-ColorScriptCache.md
  ColorScripts-Enhanced/en-US/Messages.psd1
  ColorScripts-Enhanced/en-US/New-ColorScriptCache.md
  ColorScripts-Enhanced/es/ColorScripts-Enhanced-help.xml
  ColorScripts-Enhanced/es/Messages.psd1
  ColorScripts-Enhanced/es/New-ColorScriptCache.md
  ColorScripts-Enhanced/fr/ColorScripts-Enhanced-help.xml
  ColorScripts-Enhanced/fr/Messages.psd1
  ColorScripts-Enhanced/fr/New-ColorScriptCache.md
  ColorScripts-Enhanced/it/Messages.psd1
  ColorScripts-Enhanced/ja/Messages.psd1
  ColorScripts-Enhanced/nl/Messages.psd1
  ColorScripts-Enhanced/pt/Messages.psd1
  ColorScripts-Enhanced/ru/ColorScripts-Enhanced-help.xml
  ColorScripts-Enhanced/ru/Messages.psd1
  ColorScripts-Enhanced/ru/New-ColorScriptCache.md
  ColorScripts-Enhanced/zh-CN/Messages.psd1
  docs/QUICK_REFERENCE.md
Due: module, Core Module

🛠️ [fix] Stabilize help and manifest builds
  scripts/Build-Help.ps1
  scripts/build.ps1
Due: Utility Scripts

🛠️ [fix] Satisfy the publish analyzer gate
  ColorScripts-Enhanced/Private/Get-ColorScriptInventory.ps1
  ColorScripts-Enhanced/Public/New-ColorScriptCache.ps1
  Tests/ColorScripts-Enhanced.NewColorScriptCache.Tests.ps1
  Tests/ColorScripts-Enhanced.SelectiveCache.Tests.ps1
Due: module, tests, Core Module, Test Suite

⚡ [perf] statically evaluate variable-based colorscripts
  ColorScripts-Enhanced/Private/Get-StaticColorScriptOutput.ps1
  Tests/ColorScripts-Enhanced.AdditionalCoverage.Tests.ps1
  Tests/ColorScripts-Enhanced.SelectiveCache.Tests.ps1
  Tests/ColorScripts-Enhanced.StaticOutput.Tests.ps1
  Tests/ColorScripts-Enhanced.TargetedCoverage.Tests.ps1
Due: module, tests, Core Module, Test Suite

🧪 [test] make UTF-8 regression portable to PowerShell 5.1
  Tests/ColorScripts-Enhanced.StaticOutput.Tests.ps1
Due: tests, Test Suite

👷 [ci] Remove the redundant PSSecretScanner workflow
  .github/workflows/pssecret-scanner.yml
Due: none

🛠️ [fix] Normalize Write-Host array binding on PowerShell 5.1
  ColorScripts-Enhanced/Private/Get-ColorScriptCaptureCommand.ps1
Due: module, Core Module

🛠️ [fix] Normalize release version overrides
  .github/workflows/publish.yml
Due: none

🛠️ [fix] Harden module state and process handling
  ColorScripts-Enhanced/ColorScripts-Enhanced.psd1
  ColorScripts-Enhanced/ColorScripts-Enhanced.psm1
  ColorScripts-Enhanced/Install.ps1
  ColorScripts-Enhanced/Private/ConvertTo-HashtableInternal.ps1
  ColorScripts-Enhanced/Private/Get-ColorScriptMetadataTableInternal.ps1
  ColorScripts-Enhanced/Private/Get-ColorScriptsConfigurationRoot.ps1
  ColorScripts-Enhanced/Private/Get-PowerShellExecutable.ps1
  ColorScripts-Enhanced/Private/Import-LocalizedMessagesFromFile.ps1
  ColorScripts-Enhanced/Private/Initialize-Configuration.ps1
  ColorScripts-Enhanced/Private/Invoke-ColorScriptChildProcess.ps1
  ColorScripts-Enhanced/Private/Invoke-ColorScriptProcess.ps1
  ColorScripts-Enhanced/Private/Invoke-WithUtf8Encoding.ps1
  ColorScripts-Enhanced/Private/Reset-ScriptInventoryCache.ps1
  ColorScripts-Enhanced/Private/Save-ColorScriptConfiguration.ps1
  ColorScripts-Enhanced/Private/Test-ConsoleSupportsVirtualTerminal.ps1
  ColorScripts-Enhanced/Private/Write-ColorScriptInformation.ps1
  ColorScripts-Enhanced/Public/Add-ColorScriptProfile.ps1
  ColorScripts-Enhanced/Public/Clear-ColorScriptCache.ps1
  ColorScripts-Enhanced/Public/Export-ColorScriptMetadata.ps1
  ColorScripts-Enhanced/Public/Get-ColorScriptConfiguration.ps1
  ColorScripts-Enhanced/Public/New-ColorScript.ps1
  ColorScripts-Enhanced/Public/Reset-ColorScriptConfiguration.ps1
  ColorScripts-Enhanced/Public/Set-ColorScriptConfiguration.ps1
  ColorScripts-Enhanced/Public/Show-ColorScript.ps1
  Tests/ColorScripts-Enhanced.AdditionalCoverage.Tests.ps1
  Tests/ColorScripts-Enhanced.BestPractices.Tests.ps1
  Tests/ColorScripts-Enhanced.CoreBehaviors.Tests.ps1
  Tests/ColorScripts-Enhanced.CoverageCompletion.Tests.ps1
  Tests/ColorScripts-Enhanced.CoverageFinalization.Tests.ps1
  Tests/ColorScripts-Enhanced.Internal.Tests.ps1
  Tests/ColorScripts-Enhanced.TargetedCoverage.Tests.ps1
  Tests/ColorScripts-Enhanced.WriteInformation.Tests.ps1
Due: module, tests, Core Module, Test Suite

🛠️ [fix] Make ANSI conversion terminal-aware
  ColorScripts-Enhanced/Scripts/0
  Tests/AnsiConversion.Tests.js
  assets/unused-ansi-files/Blocktronics-WTF4_Megajoint.ans
  scripts/Analyze-UnusedAnsiFiles.ps1
  scripts/Convert-AnsiToColorScript-Advanced.ps1
  scripts/Convert-AnsiToColorScript.js
  scripts/Convert-AnsiToColorScript.ps1
  scripts/Remove-DuplicateAnsiFiles.ps1
  scripts/Restore-UnusedAnsiFiles.ps1
  scripts/Show-AscFile.ps1
  scripts/Split-AnsiFile.js
Due: module, tests, Core Module, Test Suite, Utility Scripts

👷 [ci] Make release validation deterministic
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .github/workflows/updateChangeLogs.yml
  .gitleaks.toml
  Tests/RepositoryScripts.Tests.ps1
  package-lock.json
  package.json
  scripts/Add-PokemonNames.ps1
  scripts/Build-Help.ps1
  scripts/Invoke-MarkdownLinkCheck.ps1
  scripts/Lint-Module.ps1
  scripts/Lint-PS7.ps1
  scripts/Sync-HelpMetadata.ps1
  scripts/Test-Coverage.ps1
  scripts/Update-DocumentationCounts.ps1
  scripts/build.ps1
  scripts/original-PrivateFunctions.ps1
Due: tests, Test Suite, Utility Scripts, Configuration & Build

🔖 [chore] Prepare version 2026.7.20.2250
  ColorScripts-Enhanced/ColorScripts-Enhanced.psd1
  ColorScripts-Enhanced/de/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/docs/RELEASE_CHECKLIST.md
  ColorScripts-Enhanced/en-US/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/es/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/fr/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/it/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ja/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/nl/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/pt/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/ru/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  ColorScripts-Enhanced/zh-CN/ColorScripts-Enhanced_f77548d7-23eb-48ce-a6e0-f64b4758d995_HelpInfo.xml
  docs/PUBLISHING.md
  docs/RELEASE_CHECKLIST.md
  scripts/Validate-Changelog.ps1
Due: module, Core Module, Utility Scripts

chore(release): prepare for 2026.7.20.2250
  CHANGELOG.md
  dist/LatestReleaseNotes.md
  dist/PowerShellGalleryReleaseNotes.md
Due: none
