Repository Nick2bad4u/PS-Color-Scripts-Enhanced: changes, and which Codecov flags are due for each by the changed paths.
All: module, tests, Core Module, Test Suite, Utility Scripts, Configuration & Build

📝 [docs] Synchronize ANSI curation records
  ColorScripts-Enhanced/README-Gallery.md
  ColorScripts-Enhanced/README.md
  ColorScripts-Enhanced/docs/ANSI-CONVERSION-GUIDE.md
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  ColorScripts-Enhanced/docs/DOCUMENTATION_INDEX.md
  ColorScripts-Enhanced/docs/MEGALINTER-SETUP.md
  ColorScripts-Enhanced/docs/MODULE_SUMMARY.md
  ColorScripts-Enhanced/docs/ROADMAP.md
  README.md
  docs/ANSI-CONVERSION-GUIDE.md
  docs/ARTWORK_SOURCES.md
  docs/DOCUMENTATION_INDEX.md
  docs/MEGALINTER-SETUP.md
  docs/MODULE_SUMMARY.md
  docs/ROADMAP.md
Due: module, Core Module

🧹 [chore] Lock reviewed ANSI geometry retentions
  ColorScripts-Enhanced/AnsiContentCurationCheckpoint.json
  ColorScripts-Enhanced/AnsiGeometryRetentionReviewLedger.json
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  ColorScripts-Enhanced/docs/ROADMAP.md
  Tests/AnsiGeometryRetentionReviewLedger.Tests.js
  docs/ARTWORK_SOURCES.md
  docs/ROADMAP.md
  package.json
Due: module, tests, Core Module, Test Suite, Configuration & Build

🧹 [chore] Blank 27 more ANSI text rows
  ColorScripts-Enhanced/AnsiContentCurationCheckpoint.json
  ColorScripts-Enhanced/AnsiResidualMixedTextReviewLedger14.json
  ColorScripts-Enhanced/AnsiResidualMixedTextReviewLedger15.json
  ColorScripts-Enhanced/Scripts/16c-blndr016-bogan.ps1
  ColorScripts-Enhanced/Scripts/16c-force-20-us-mtx.ps1
  ColorScripts-Enhanced/Scripts/16c-fsn-0397-iz-gulpm.ps1
  ColorScripts-Enhanced/Scripts/16c-fuel20-dd-ce2.ps1
  ColorScripts-Enhanced/Scripts/16c-ice-200206a-e0-3pcs.ps1
  ColorScripts-Enhanced/Scripts/16c-rca-19a-us-mat-1.ps1
  ColorScripts-Enhanced/Scripts/16c-rib-004-cph-col4-part01.ps1
  ColorScripts-Enhanced/Scripts/16c-rilebrkn-fl-lizzy.ps1
  ColorScripts-Enhanced/Scripts/16c-rmtz-2-sf-anime.ps1
  ColorScripts-Enhanced/Scripts/16c-shv-1194-mp-f451-part01.ps1
  ColorScripts-Enhanced/Scripts/16c-sms-9609-dt-sos1.ps1
  ColorScripts-Enhanced/Scripts/16c-twst-12-catch-02.ps1
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  Tests/AnsiContentAudit.Tests.js
  Tests/AnsiResidualCleanupReview.Tests.js
  docs/ARTWORK_SOURCES.md
Due: module, tests, Core Module, Test Suite

👷 [ci] Modernize pull request labeler rules
  .github/labeler.yml
Due: none

🧹 [chore] Blank 202 more ANSI placeholder rows
  ColorScripts-Enhanced/AnsiContentCurationCheckpoint.json
  ColorScripts-Enhanced/AnsiResidualMixedTextReviewLedger17.json
  ColorScripts-Enhanced/Scripts/16c-apathy06-mt-entr2.ps1
  ColorScripts-Enhanced/Scripts/16c-awe-12-mn-cm.ps1
  ColorScripts-Enhanced/Scripts/16c-awe-12-plz-pec.ps1
  ColorScripts-Enhanced/Scripts/16c-awe-13-kl-after.ps1
  ColorScripts-Enhanced/Scripts/16c-awe9612-hos-fmnu.ps1
  ColorScripts-Enhanced/Scripts/16c-d38-07a-bs-moi.ps1
  ColorScripts-Enhanced/Scripts/16c-drg0697-jda-j4p.ps1
  ColorScripts-Enhanced/Scripts/16c-fire0796-fr-ss1.ps1
  ColorScripts-Enhanced/Scripts/16c-fire0994-ep-big-part05.ps1
  ColorScripts-Enhanced/Scripts/16c-flg01-smp-t.ps1
  ColorScripts-Enhanced/Scripts/16c-fokus06-zip-crfa.ps1
  ColorScripts-Enhanced/Scripts/16c-fsn-0597-iz-fe.ps1
  ColorScripts-Enhanced/Scripts/16c-fsn-0597-iz-quend.ps1
  ColorScripts-Enhanced/Scripts/16c-glue-31-zv-col5-part03.ps1
  ColorScripts-Enhanced/Scripts/16c-glue-35-22-sec71.ps1
  ColorScripts-Enhanced/Scripts/16c-ice-0202a-dt-bt2.ps1
  ColorScripts-Enhanced/Scripts/16c-ice9702a-nd-ok8.ps1
  ColorScripts-Enhanced/Scripts/16c-ice9706a-dn-ent01.ps1
  ColorScripts-Enhanced/Scripts/16c-laz17-ni-nvmnu-part02.ps1
  ColorScripts-Enhanced/Scripts/16c-mdn-9705-rs-pc.ps1
  ColorScripts-Enhanced/Scripts/16c-nerp-02-m-lb7.ps1
  ColorScripts-Enhanced/Scripts/16c-nph-05-cl-emul.ps1
  ColorScripts-Enhanced/Scripts/16c-oph-0018-gdmny-01.ps1
  ColorScripts-Enhanced/Scripts/16c-opx-0597-mi-stats.ps1
  ColorScripts-Enhanced/Scripts/16c-out-0897-out-town.ps1
  ColorScripts-Enhanced/Scripts/16c-rca16-a-dz-plazh.ps1
  ColorScripts-Enhanced/Scripts/16c-rib-010-cph-hrmm.ps1
  ColorScripts-Enhanced/Scripts/16c-rile-001-ig-soh2.ps1
  ColorScripts-Enhanced/Scripts/16c-rune0896-s7-myst.ps1
  ColorScripts-Enhanced/Scripts/16c-sense12-cp-shit1.ps1
  ColorScripts-Enhanced/Scripts/16c-sms-9609-dt-rst2.ps1
  ColorScripts-Enhanced/Scripts/16c-soda03-ns-ee.ps1
  ColorScripts-Enhanced/Scripts/16c-twi-9708-fv-dead.ps1
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  Tests/AnsiContentAudit.Tests.js
  Tests/AnsiResidualCleanupReview.Tests.js
  docs/ARTWORK_SOURCES.md
Due: module, tests, Core Module, Test Suite

🧹 [chore] Blank 134 more ANSI placeholder rows
  ColorScripts-Enhanced/AnsiContentCurationCheckpoint.json
  ColorScripts-Enhanced/AnsiResidualMixedTextReviewLedger18.json
  ColorScripts-Enhanced/Scripts/16c-apathy08-eb-eclps.ps1
  ColorScripts-Enhanced/Scripts/16c-apathy09-ts-sc0.ps1
  ColorScripts-Enhanced/Scripts/16c-bmb-0697-noh-ksad.ps1
  ColorScripts-Enhanced/Scripts/16c-circe06-us-chica.ps1
  ColorScripts-Enhanced/Scripts/16c-d38-05-bs-samsg.ps1
  ColorScripts-Enhanced/Scripts/16c-ecl-05-st-gf.ps1
  ColorScripts-Enhanced/Scripts/16c-glue-21-us-haz2.ps1
  ColorScripts-Enhanced/Scripts/16c-hype-05a-vt-kcms.ps1
  ColorScripts-Enhanced/Scripts/16c-ice9701a-ti-ttwn1.ps1
  ColorScripts-Enhanced/Scripts/16c-ice9706a-te-puls2.ps1
  ColorScripts-Enhanced/Scripts/16c-jive1196-lp-paper.ps1
  ColorScripts-Enhanced/Scripts/16c-laz09aug-hen-dem1.ps1
  ColorScripts-Enhanced/Scripts/16c-maiden14-s7-if9.ps1
  ColorScripts-Enhanced/Scripts/16c-maiden15-i3-hmp.ps1
  ColorScripts-Enhanced/Scripts/16c-nerp-02-biz-lb1.ps1
  ColorScripts-Enhanced/Scripts/16c-oph-0018-joint-05.ps1
  ColorScripts-Enhanced/Scripts/16c-rib-011-cph-dbmm.ps1
  ColorScripts-Enhanced/Scripts/16c-root0397-dt-cf2.ps1
  ColorScripts-Enhanced/Scripts/16c-woe0398a-kz-lod.ps1
  ColorScripts-Enhanced/Scripts/16c-zenith03-tx-wfc.ps1
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  Tests/AnsiContentAudit.Tests.js
  Tests/AnsiResidualCleanupReview.Tests.js
  docs/ARTWORK_SOURCES.md
Due: module, tests, Core Module, Test Suite

🧹 [chore] Add batch 20 ANSI text review ledger
  ColorScripts-Enhanced/AnsiResidualMixedTextReviewLedger20.json
Due: module, Core Module

🛠️ [fix] Protect ANSI labels in batch 20 review
  ColorScripts-Enhanced/AnsiResidualMixedTextReviewLedger20.json
Due: module, Core Module

🧪 [test] Sync the static corpus count
  Tests/ColorScripts-Enhanced.StaticOutput.Tests.ps1
Due: tests, Test Suite

🧹 [chore] Blank 192 more ANSI placeholder rows
  ColorScripts-Enhanced/AnsiContentCurationCheckpoint.json
  ColorScripts-Enhanced/AnsiResidualMixedTextReviewLedger22.json
  ColorScripts-Enhanced/Scripts/16c-apathy05-ix-mtrx.ps1
  ColorScripts-Enhanced/Scripts/16c-apathy11-ti-nex3.ps1
  ColorScripts-Enhanced/Scripts/16c-apathy15-ti-rs2.ps1
  ColorScripts-Enhanced/Scripts/16c-awe-12-4o-rust.ps1
  ColorScripts-Enhanced/Scripts/16c-awe-13-smp-lynx.ps1
  ColorScripts-Enhanced/Scripts/16c-awe-14-kl-endor.ps1
  ColorScripts-Enhanced/Scripts/16c-awe9704-4o-color.ps1
  ColorScripts-Enhanced/Scripts/16c-awe9705-tna-spf3.ps1
  ColorScripts-Enhanced/Scripts/16c-awe9706-4o-blue.ps1
  ColorScripts-Enhanced/Scripts/16c-awe9706-4o-pulse.ps1
  ColorScripts-Enhanced/Scripts/16c-awe9707-4o-pulse.ps1
  ColorScripts-Enhanced/Scripts/16c-awe9707-pe-lime.ps1
  ColorScripts-Enhanced/Scripts/16c-axf-037a-bx-news.ps1
  ColorScripts-Enhanced/Scripts/16c-blocktronics-16colors-avg-bflag.ps1
  ColorScripts-Enhanced/Scripts/16c-blocktronics-awaken-avg-clutch25.ps1
  ColorScripts-Enhanced/Scripts/16c-eco-11-us-ss.ps1
  ColorScripts-Enhanced/Scripts/16c-epic0001-cg-matr.ps1
  ColorScripts-Enhanced/Scripts/16c-fire0597-4o-dumb.ps1
  ColorScripts-Enhanced/Scripts/16c-fuel16-us-flats.ps1
  ColorScripts-Enhanced/Scripts/16c-jasper08-us-hb.ps1
  ColorScripts-Enhanced/Scripts/16c-locus-05-ave-fuck.ps1
  ColorScripts-Enhanced/Scripts/16c-nerp-01-rr-oneli.ps1
  ColorScripts-Enhanced/Scripts/16c-sense09j-cg-tma2.ps1
  ColorScripts-Enhanced/Scripts/16c-sense11j-cg-menu.ps1
  ColorScripts-Enhanced/Scripts/16c-sense24-zv-colly-part01.ps1
  ColorScripts-Enhanced/Scripts/16c-twst-17-joint-is.ps1
  ColorScripts-Enhanced/Scripts/16c-twst-17-joint.ps1
  ColorScripts-Enhanced/Scripts/16c-used-05-ns-123-part05.ps1
  ColorScripts-Enhanced/Scripts/16c-vivid-01-p1-man1.ps1
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  Tests/AnsiContentAudit.Tests.js
  Tests/AnsiResidualCleanupReview.Tests.js
  docs/ARTWORK_SOURCES.md
Due: module, tests, Core Module, Test Suite

🧹 [chore] Blank 46 more ANSI placeholder rows
  ColorScripts-Enhanced/AnsiContentCurationCheckpoint.json
  ColorScripts-Enhanced/AnsiResidualMixedTextReviewLedger23.json
  ColorScripts-Enhanced/Scripts/16c-blde9610-rb-ding2.ps1
  ColorScripts-Enhanced/Scripts/16c-fuel10-th-preva.ps1
  ColorScripts-Enhanced/Scripts/16c-nerp-04-us-vesa1.ps1
  ColorScripts-Enhanced/Scripts/16c-plf-0299-bym-fs23.ps1
  ColorScripts-Enhanced/Scripts/16c-rca16-a-bf-pod6.ps1
  ColorScripts-Enhanced/Scripts/16c-sense09j-nochacro.ps1
  ColorScripts-Enhanced/Scripts/16c-sense11j-cg-nami3.ps1
  ColorScripts-Enhanced/Scripts/16c-twst0696-pc-kronr.ps1
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  Tests/AnsiContentAudit.Tests.js
  Tests/AnsiResidualCleanupReview.Tests.js
  docs/ARTWORK_SOURCES.md
Due: module, tests, Core Module, Test Suite

🧹 [chore] Blank the final four clustered placeholders
  ColorScripts-Enhanced/AnsiContentCurationCheckpoint.json
  ColorScripts-Enhanced/AnsiResidualMixedTextReviewLedger24.json
  ColorScripts-Enhanced/Scripts/16c-bmbook12-t-mtrix1.ps1
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  Tests/AnsiContentAudit.Tests.js
  Tests/AnsiResidualCleanupReview.Tests.js
  docs/ARTWORK_SOURCES.md
Due: module, tests, Core Module, Test Suite

🧹 [chore] Blank 13 repeated X placeholders
  ColorScripts-Enhanced/AnsiContentCurationCheckpoint.json
  ColorScripts-Enhanced/AnsiResidualMixedTextReviewLedger25.json
  ColorScripts-Enhanced/Scripts/16c-mdn-9702-mr-idt.ps1
  ColorScripts-Enhanced/Scripts/16c-plf-0599-bym-12g.ps1
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  Tests/AnsiContentAudit.Tests.js
  Tests/AnsiResidualCleanupReview.Tests.js
  docs/ARTWORK_SOURCES.md
Due: module, tests, Core Module, Test Suite

🧹 [chore] Blank four more ANSI placeholders
  ColorScripts-Enhanced/AnsiContentCurationCheckpoint.json
  ColorScripts-Enhanced/AnsiResidualMixedTextReviewLedger26.json
  ColorScripts-Enhanced/Scripts/16c-ice9701a-ti-tra1.ps1
  ColorScripts-Enhanced/Scripts/roy-sac-mva.ps1
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  Tests/AnsiContentAudit.Tests.js
  Tests/AnsiResidualCleanupReview.Tests.js
  docs/ARTWORK_SOURCES.md
Due: module, tests, Core Module, Test Suite

🛠️ [fix] Preserve CP437 symbols during column blanking
  Tests/AnsiContentAudit.Tests.js
  scripts/Audit-ColorScriptContent.js
Due: tests, Test Suite, Utility Scripts

🧹 [chore] Blank 31 more ANSI template rows
  ColorScripts-Enhanced/AnsiContentCurationCheckpoint.json
  ColorScripts-Enhanced/AnsiResidualMixedTextReviewLedger31.json
  ColorScripts-Enhanced/Scripts/16c-blocktronics-awaken-bw-piranha-3menu.ps1
  ColorScripts-Enhanced/Scripts/16c-bommc01-mmc13-15.ps1
  ColorScripts-Enhanced/Scripts/16c-ecl-pak2-sn-harry.ps1
  ColorScripts-Enhanced/Scripts/16c-ecl-pak2-sn-lm.ps1
  ColorScripts-Enhanced/Scripts/16c-lap-0794-wx-tmple-part04.ps1
  ColorScripts-Enhanced/Scripts/16c-legend01-ev-mayo2-part01.ps1
  ColorScripts-Enhanced/Scripts/16c-mdn-9705-rs-aview.ps1
  ColorScripts-Enhanced/Scripts/16c-phat1296-tr-artfr.ps1
  ColorScripts-Enhanced/Scripts/16c-sense24-zv-colly-part06.ps1
  ColorScripts-Enhanced/Scripts/16c-soc-0997-us-edge.ps1
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  Tests/AnsiContentAudit.Tests.js
  Tests/AnsiResidualCleanupReview.Tests.js
  docs/ARTWORK_SOURCES.md
Due: module, tests, Core Module, Test Suite

🧹 [chore] Blank 37 more ANSI production-note rows
  ColorScripts-Enhanced/AnsiContentCurationCheckpoint.json
  ColorScripts-Enhanced/AnsiResidualMixedTextReviewLedger32.json
  ColorScripts-Enhanced/Scripts/16c-blur9606-ok-psd.ps1
  ColorScripts-Enhanced/Scripts/16c-charm05-p5-flick.ps1
  ColorScripts-Enhanced/Scripts/16c-glue-12-22-gp1.ps1
  ColorScripts-Enhanced/Scripts/16c-glue-14-22-gtr1.ps1
  ColorScripts-Enhanced/Scripts/16c-gvt-0396-sh-gsmtx.ps1
  ColorScripts-Enhanced/Scripts/16c-k0tpr0be-d-dftry.ps1
  ColorScripts-Enhanced/Scripts/16c-opx-0696-zii-itcg.ps1
  ColorScripts-Enhanced/Scripts/16c-root04-md-toons-part02.ps1
  ColorScripts-Enhanced/Scripts/16c-sense09-sc-uddf.ps1
  ColorScripts-Enhanced/Scripts/16c-spr-04-mst-tac.ps1
  ColorScripts-Enhanced/Scripts/16c-twi-9706-w7-pir01.ps1
  ColorScripts-Enhanced/Scripts/16c-uni-0195-sr-bs2-part03.ps1
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  Tests/AnsiContentAudit.Tests.js
  Tests/AnsiResidualCleanupReview.Tests.js
  docs/ARTWORK_SOURCES.md
Due: module, tests, Core Module, Test Suite

🧹 [chore] Blank 50 more ANSI process-note rows
  ColorScripts-Enhanced/AnsiContentCurationCheckpoint.json
  ColorScripts-Enhanced/AnsiResidualMixedTextReviewLedger33.json
  ColorScripts-Enhanced/Scripts/16c-208-1-en-nedr.ps1
  ColorScripts-Enhanced/Scripts/16c-avpack06-hq-drag.ps1
  ColorScripts-Enhanced/Scripts/16c-avpack14-ds-shite.ps1
  ColorScripts-Enhanced/Scripts/16c-blndr027-wn-bl27.ps1
  ColorScripts-Enhanced/Scripts/16c-fire0897-rr-dl.ps1
  ColorScripts-Enhanced/Scripts/16c-fire0897-rr-dts4.ps1
  ColorScripts-Enhanced/Scripts/16c-omen-001-ai-00005.ps1
  ColorScripts-Enhanced/Scripts/16c-serial03-mp-bl.ps1
  ColorScripts-Enhanced/Scripts/16c-sms-9610-ok-evle1.ps1
  ColorScripts-Enhanced/Scripts/16c-uni-0995-sb-secre-part02.ps1
  ColorScripts-Enhanced/docs/ARTWORK_SOURCES.md
  Tests/AnsiContentAudit.Tests.js
  Tests/AnsiResidualCleanupReview.Tests.js
  docs/ARTWORK_SOURCES.md
  scripts/ColorScriptAnalysisExceptions.json
Due: module, tests, Core Module, Test Suite, Utility Scripts

Path conditions:
  module: any of: ColorScripts-Enhanced/
  tests: any of: Tests/
  Core Module: any of: ColorScripts-Enhanced/**
  Test Suite: any of: Tests/**
  Utility Scripts: any of: scripts/**
  Configuration & Build: any of: package.json
